/*
 * (custom) CSS stylesheet applied in all Views / pages less INDEX (not critical one!)
 */
/* ----- VARIABLES --------------------------------- */
/* color for copies by default */
/* ----- MIXINS --------------------------------- */
/*
 * (common) CSS stylesheet applied in all Views / pages (critical & not critical ones!)
 */
/* ----- FONT FACE :: CUSTOM FONTS ---------------------------------------- */
@font-face {
  font-family: 'champagne';
  src: url('../../fonts/champagne/champagne__limousines-webfont.eot');
  src: url('../../fonts/champagne/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/champagne/champagne__limousines-webfont.woff2') format('woff2'), url('../../fonts/champagne/champagne__limousines-webfont.woff') format('woff'), url('../../fonts/champagne/champagne__limousines-webfont.ttf') format('truetype'), url('../../fonts/champagne/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ----- (common) HTML ELEMENTS ---------------------------------------- */
/* -- (common) TEXT SELECTED COLOR -- */
::selection {
  background: #ff4081;
  color: #ffffff;
}
::-moz-selection {
  background: #ff4081;
  color: #ffffff;
}
::-webkit-selection {
  background: #ff4081;
  color: #ffffff;
}
/* -- (common) BODY -- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #666666;
  line-height: 2rem;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
body h2 {
  line-height: 30px;
}
@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    line-height: 55px;
    padding-left: 5px;
  }
  nav.fa-youtube-play,
  nav .nav-wrapper i.fa-youtube-play,
  nav a.button-collapse.fa-youtube-play,
  nav a.button-collapse i.fa-youtube-play {
    position: relative;
    bottom: 3px;
  }
  .row .col.offset-custom {
    margin-left: 13.66667%;
  }
}
/* --- (common) Margin & Paddings Reserts --- */
.noMargBottom {
  margin-bottom: 0;
}
/* --- (common) Mobile Main SideNav --- */
#mobile-demo {
  z-index: 1100;
}
#mobile-demo img {
  max-width: 130px;
  max-height: 39px;
}
/* ----- (common) special CLASSES ------------------------------------------ */
/* -- (top) logo HEADER :: NAVBAR ------------------------------------------ */
.navbar-top {
  width: 100%;
  position: fixed;
  /* TODO: "sticky" position trial
  position: -webkit-sticky;
  position: sticky;
  */
  top: 0;
  z-index: 998;
}
.navbar-top nav {
  width: 100%;
  background-color: #0f121e;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
  /* --- 0. (common) Top navigation menu --- */
}
.navbar-top nav ul {
  -webkit-transition: padding 0.3s ease;
  -moz-transition: padding 0.3s ease;
  -ms-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
  /* --- 1. Top links navigation menu (not "More..." last link) --- */
  /* --- 2. ("More..." last link) Top Dropdown navigation menu --- */
  /* --- 3. "Left Navigation Menu" Top Main Nav ---
      &.navSubSections li a {
        color: #aaa;
        .main-text(18px, 400, .02em);
        padding-right: 12px;
        padding-left: 12px;

        &.drinks {
          display: none;
        }
      }
      */
}
.navbar-top nav ul.right {
  padding-right: 15px;
  padding-top: 10px;
}
.navbar-top nav ul.left {
  padding-left: 15px;
  padding-top: 10px;
}
.navbar-top nav ul li a {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: none;
}
.navbar-top nav ul:not(.dropdown-content) li:hover a {
  color: #ff4081;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.navbar-top nav ul.dropdown-content {
  background-color: rgba(15, 18, 30, 0.9);
}
.navbar-top nav ul.dropdown-content li {
  color: #ffffff;
}
.navbar-top nav ul.dropdown-content li:hover a {
  color: #ff4081;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.navbar-top nav ul.dropdown-content.active {
  top: 64px !important;
}
.navbar-top.js-thinny-nav nav {
  height: 40px;
  line-height: 40px;
  background-color: rgba(15, 18, 30, 0.9);
}
.navbar-top.js-thinny-nav nav .brand-logo {
  padding: 4px !important;
  /* overwrite "materialize" styles by default */
}
.navbar-top.js-thinny-nav nav .brand-logo .small-one {
  width: 95px;
  height: 29px;
}
@media (max-width: 601px) {
  .navbar-top.js-thinny-nav nav .brand-logo {
    padding: 5px !important;
    /* overwrite "materialize" styles by default */
  }
  .navbar-top.js-thinny-nav nav .brand-logo .small-one {
    width: 90px;
    height: 27px;
  }
}
.navbar-top.js-thinny-nav nav ul.right,
.navbar-top.js-thinny-nav nav ul.left {
  padding-top: 0;
}
.navbar-top.js-thinny-nav nav ul.dropdown-content.active {
  top: 40px !important;
}
.navbar-top.js-thinny-nav + .body-container .th-fixed {
  background-color: rgba(255, 255, 255, 0.9);
  top: 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-top.js-thinny-nav + .body-container .th-fixed .tabs {
  height: 40px;
}
.navbar-top.js-thinny-nav + .body-container .th-fixed .tabs .tab {
  line-height: 40px;
  height: 40px;
}
@media (max-width: 1740px) {
  .navbar-top nav ul.navContact li a.schedule {
    display: none;
  }
}
@media (max-width: 1399px) {
  .navbar-top nav ul.navSubSections li a.wineh {
    display: none;
  }
  .navbar-top nav ul.navContact li a.email {
    display: none;
  }
}
/* -- (bottom) main NAVBAR on FOOTER ------------------------------------------ */
.navbar-fixed {
  height: 54px;
  position: absolute;
  bottom: 0;
  z-index: 998;
}
.navbar-fixed nav .button-collapse i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
  padding-left: 15px;
}
.navbar-fixed nav {
  color: #ffffff;
  background-color: rgba(15, 18, 30, 0.9);
  border-top: 1px solid black;
}
.navbar-fixed nav .button-collapse {
  color: white;
}
.navbar-fixed nav .button-collapse i {
  height: 56px;
  line-height: 56px;
  padding-left: 5px;
  font-size: 2.7rem;
  position: relative;
  bottom: 3px;
}
@media (max-width: 600px) {
  .navbar-fixed nav .button-collapse i {
    padding-left: 15px;
  }
}
.navbar-fixed nav ul li {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  /* to add margin between social media icons & phone number */
}
.navbar-fixed nav ul li:hover {
  background-color: #0f121e;
}
.navbar-fixed nav ul li:first-child:hover {
  background-color: inherit;
}
.navbar-fixed nav ul li:last-child {
  padding-right: 10px;
}
.navbar-fixed nav ul li a {
  height: 55px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding: 0 10px;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.navbar-fixed nav ul li a:not(.copyright):hover {
  color: #ff4081;
}
.navbar-fixed nav ul li a .js-current-year {
  padding-left: 5px;
}
.navbar-fixed nav ul li.socialMobile {
  padding-bottom: 20px !important;
}
.navbar-fixed nav ul.left {
  position: relative;
  bottom: 2px;
}
.navbar-fixed nav ul.left a {
  padding: 0 10px;
  text-transform: inherit;
}
.navbar-fixed nav ul.left a.copyright {
  color: #ff4081;
  cursor: default;
  pointer-events: none;
}
.navbar-fixed nav ul.left a.terms::before,
.navbar-fixed nav ul.left a.sitemap::before,
.navbar-fixed nav ul.left a.schedule::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  right: 10px;
  bottom: 2px;
  background-color: #cccccc;
}
.navbar-fixed nav ul.left a.terms:hover::before,
.navbar-fixed nav ul.left a.sitemap:hover::before,
.navbar-fixed nav ul.left a.schedule:hover::before {
  opacity: 0;
  -webkit-transform: opacity all ease;
  transform: opacity all ease;
}
@media all and (max-width: 600px) {
  .navbar-fixed ul.right li a i {
    position: relative;
    top: 12px;
  }
}
/* TODO: check this code and remove it if is useless
.navbar-fixed nav ul a.active {
    font-size: 1.2rem;
    color: #FFF;
    display: block;
    padding: 0px 15px;
    letter-spacing: 0.06em;
    text-transform: lowercase;
}
*/
/* -- (common) "created by" signature in all pages ending -- */
.createdby {
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-top: 1px solid #eee;
}
.createdby p {
  font-size: 16px !important;
  margin: 0;
  line-height: 18px;
  padding: 10px 15px 75px;
}
@media (max-width: 768px) {
  .createdby p {
    padding: 15px 30px 80px;
  }
}
.createdby p a {
  padding-left: 5px;
  font-family: 'Roboto Mono', monospace;
  color: #29cc00;
}
.createdby p a:hover {
  text-decoration: underline;
  color: #24b300;
}
/* -- (common) "Contact" Footer links for desktop and laptop devices -- */
#nav-contact {
  position: fixed;
  bottom: 12px;
  right: 160px;
  z-index: 1000;
}
#nav-contact ul {
  margin: 0;
}
#nav-contact ul li {
  display: inline;
  margin: 0;
  padding: 15px 10px 20px;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
#nav-contact ul li a {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .02em;
  color: #ffffff;
}
#nav-contact ul li a i {
  padding-right: 5px;
}
#nav-contact ul li:hover {
  background-color: #0f121e;
}
#nav-contact ul li:hover a {
  color: #ff4081;
}
/* -- (common) "Contact" Footer links for mobile and tablets devices -- */
#nav-info {
  display: none;
  position: fixed;
  bottom: 13px;
  right: 165px;
  z-index: 1000;
}
#nav-info a {
  color: #ffffff;
  font-size: 20px;
}
#nav-info:hover a {
  color: #ff4081;
}
/* -- (common) to switch between mobile and desktop "Contact" Footer links -- */
@media (max-width: 1249px) {
  #nav-contact {
    display: none;
  }
  #nav-info {
    display: block;
  }
}
/* -- (common) ASIDE main NAVBAR on MOBILE devices ------------------------------------------ */
.side-nav {
  background-color: #0f121e;
}
.side-nav#mobile-demo li {
  display: block;
  width: 100%;
  float: none;
  padding: 0 15px;
  text-align: center;
  line-height: 15px;
}
.side-nav#mobile-demo li:first-child {
  padding-top: 25px;
}
.side-nav#mobile-demo li a {
  display: inline-block;
  color: #ffffff;
  background-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
  border-radius: 0%;
  line-height: 0;
  padding: 15px;
  text-align: center;
}
.side-nav#mobile-demo li a i {
  display: inline-block;
  font-size: 2em;
}
.side-nav#mobile-demo li.copyMobile a {
  text-transform: inherit;
  color: #ff4081;
  cursor: default;
  pointer-events: none;
}
/* -- (common) MODALS dialogs ------------------------------------------ */
.modal {
  background-color: rgba(15, 18, 30, 0.9) !important;
  border-top: 3px solid #111111;
  max-height: 75%;
}
.modal * > i {
  padding-right: 5px;
}
.modal * > i:not(.fa-close) {
  width: 30px;
  text-align: center;
  opacity: .5;
}
.modal h4 {
  text-align: center;
}
.modal p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 2rem;
}
.modal ul li {
  margin: 10px 0;
  line-height: 2.2rem;
}
.modal ul li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.modal ul li a:hover {
  color: #ff4081;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.modal ul li b {
  color: #039be5;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.modal ul li em {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: .8;
}
.modal ul li:first-child,
.modal ul li:nth-child(4),
.modal ul li:nth-child(7) {
  margin-top: 10px;
}
.modal .modal-footer {
  background-color: #0f121e;
}
.modal .modal-footer a {
  text-align: center;
  color: #cccccc;
}
.modal .modal-footer a:hover {
  color: #ffffff;
}
.modal#modal_section h4 {
  color: #fdd835;
}
.modal#modal_buttons h4 {
  color: #b2ff59;
}
.modal#modal_social h4 {
  color: #80d8ff;
}
.modal#modal_contact h4,
.modal#modal_schedule h4 {
  font-family: 'champagne', sans-serif;
  font-weight: 600;
  letter-spacing: .06em;
  color: #ff4081;
  text-transform: uppercase;
}
.modal#modal_schedule .col {
  width: 100%;
  display: block;
  min-height: 100px;
}
.modal#modal_schedule .col ul {
  width: 300px;
  margin: 0 auto;
  float: inherit;
}
.modal#modal_schedule .col ul li a {
  cursor: copy;
  pointer-events: none;
}
@media only screen and (max-width: 1250px) {
  .modal#modal_contact {
    width: 70%;
  }
}
@media only screen and (max-width: 992px) {
  .modal {
    width: 90% !important;
  }
}
/* -- Social media links inside each Modals (dialog) -- */
.site-social.right li {
  display: block;
  width: 100%;
  float: right;
  margin: 5px 0;
}
@media only screen and (max-width: 600px) {
  .site-social:not(.right) li {
    margin: 20px 0;
  }
  .site-social.right li {
    display: none;
  }
}
@media (max-width: 667px) {
  .row-dos .site-social {
    padding-left: 30px;
  }
  .row-dos .site-social,
  .row-dos .site-social li {
    float: left !important;
  }
  .row-dos .site-social li a span {
    display: block;
  }
}
@media (max-width: 667px) {
  .modal .modal-content {
    padding: 5px 5px 5px 10px;
  }
}
@media (max-width: 480px) {
  .modal .modal-content {
    padding: 10px;
  }
}
@media only screen and (max-width: 350px) {
  #modal_contact ul li a {
    font-size: 16px;
  }
}
/* -- (common) BUTTONS ------------------------------------------ */
.btn {
  background-color: #ff4081;
  color: #ffffff;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #ff73a3;
}
/*
 * (custom) GRID big 2x2 layout
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  position: relative;
  margin: 0 auto;
}
.grid {
  /* same as (top & buttom) nav Bars */
  margin-top: 64px;
  margin-bottom: 54px;
}
@media (max-width: 601px) {
  .grid {
    margin-top: 56px;
  }
}
.grid__item {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100vw;
}
.grid__item--bg {
  background-color: var(--item-bg);
  height: 100vw;
}
.grid__item-content {
  width: 100%;
  padding: 8vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  pointer-events: none;
  background: var(--item-bg);
}
.grid__item--bg .grid__item-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.grid__item-img {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.grid__item-img img {
  height: 100%;
  display: block;
}
.grid__item-img img.hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.grid__item-img img.hover-effect:hover {
  opacity: 0;
}
.grid__item-title {
  font-family: "champagne", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 1;
  margin: 2rem 0 0 0;
  color: var(--item-title);
  position: relative;
}
.grid__item-title em {
  opacity: .5;
}
.grid__item-title .fa {
  position: absolute;
  bottom: 30px;
  left: -30px;
  opacity: .3;
  z-index: 0;
}
@media screen and (max-width: 1050px) {
  .grid__item-title .fa {
    bottom: 20px;
    left: -20px;
  }
}
@media screen and (max-width: 567px) {
  .grid__item-title .fa {
    left: -12px;
    font-size: 1.5rem;
  }
}
.grid__item-title--small {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}
.grid__item-meta {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  color: var(--item-meta);
}
.grid__item-subtitle {
  display: block;
  margin: auto 0 0 0;
  font-weight: 400;
  font-size: 1.5em;
  color: var(--item-subtitle);
}
.grid__item-subtitle span {
  display: block;
}
.grid__item-text {
  margin: 2rem 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #666666;
  line-height: 2rem;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  /*
  font-family: "Roboto", sans-serif;
  .main-text(18px, 400, .02rem);
  line-height: 2rem;
  */
  color: var(--item-text);
}
.grid__item-text .fa {
  position: relative;
  bottom: 5px;
  left: 5px;
  opacity: .3;
}
.grid__item-text + .grid__item-link {
  white-space: nowrap;
  align-self: flex-start;
  line-height: 40px;
  margin-top: auto;
}
@media screen and (max-width: 799px) {
  .grid__item-text + .grid__item-link {
    margin-top: 20px;
  }
}
.grid__item-link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  color: var(--item-link);
  position: relative;
  pointer-events: auto;
}
.grid__item-link .fa {
  padding-left: 5px;
  opacity: .5;
  -webkit-transition: padding 0.25s ease;
  -moz-transition: padding 0.25s ease;
  -ms-transition: padding 0.25s ease;
  -o-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}
.grid__item-link:focus,
.grid__item-link:hover {
  color: var(--item-link-hover);
}
.grid__item-link:focus .fa,
.grid__item-link:hover .fa {
  padding-left: 10px;
  opacity: .7;
}
.grid__item-link.btn {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: inherit;
}
.grid__item-link:not(.btn)::before {
  content: '';
  position: absolute;
  background: currentColor;
  width: 75%;
  height: 1px;
  bottom: 0;
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  opacity: 0;
  transition: all 0.25s;
  transition-property: opacity, transform;
}
.grid__item-link:not(.btn):hover::before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.grid__item-link + .grid__item-link {
  margin: 0 0 0 3rem;
}
.grid__item-nav {
  display: flex;
}
/* -- (grid) color THEMES -- */
.theme-transparent {
  --item-bg: transparent;
  --item-link: #039be5;
  --item-link-hover: #0279b3;
  --item-meta: #666666;
  --item-title: #ff4081;
  --item-subtitle: #666666;
  --item-text: #666666;
}
.theme-fucsia {
  --item-bg: #ff4081;
  --item-link: #ffc8db;
  --item-link-hover: #ffffff;
  --item-meta: #ffffff;
  --item-title: #ffffff;
  --item-subtitle: #ffffff;
  --item-text: #ffffff;
}
.theme-blue:not(.theme-bg) {
  --item-bg: #039be5;
  --item-link: #d7f2fe;
  --item-link-hover: #ffffff;
  --item-meta: #ffffff;
  --item-title: #ffffff;
  --item-subtitle: #ffffff;
  --item-text: #ffffff;
}
.theme-mascotactiva:not(.theme-bg) {
  --item-bg: #ffffff;
  --item-link: #8a8b8f;
  --item-link-hover: #646568;
  --item-meta: #f7e100;
  --item-title: #f7e100;
  --item-subtitle: #f7e100;
  --item-text: #666666;
}
.theme-bg {
  --item-bg: rgba(0, 0, 0, 0);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
.theme-bg.theme-blue .btn {
  background-color: #039be5;
}
.theme-bg.theme-blue .btn:hover {
  background-color: #026899;
}
.theme-bg.theme-mascotactiva .btn {
  background-color: #f7e100;
  color: #050608;
}
.theme-bg.theme-mascotactiva .btn:hover {
  background-color: #ab9b00;
}
/* -- Media queries :: GRID responsive behaviour -- */
@media screen and (min-width: 50em) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 50vmax);
  }
  .grid__item {
    height: 50vmax;
    width: 100%;
  }
  .grid__item:hover .grid__item-subtitle * {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .grid__item:hover .grid__item-subtitle span {
    transition-delay: 0.1s;
  }
  .grid__item:hover .grid__item-subtitle .grid__item-link {
    transition-delay: 0s;
  }
  .grid__item-subtitle * {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
    transition-property: transform, opacity;
  }
  .grid__item-title {
    font-size: 6vw;
  }
  .grid__item-title--small {
    font-size: 3vw;
  }
  .grid__item-text {
    margin-top: 2.5rem;
  }
}
@media (min-width: 800px) and (max-width: 1050px) {
  .grid__item-content {
    padding: 4vw 6vw;
  }
  .grid__item-link,
  .grid__item-text {
    font-size: 1.05rem;
  }
}
/*
 * (custom) CSS stylesheet only applied in INDEX (critical one!)
 */
/* --- "Logotype" (top) logo HEADER --- */
.main-logotype {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 20px;
  z-index: 3;
}
/* -- VIDEO full background -- */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(../../img/slider/afgano.jpg) no-repeat;
  background-color: #0f121e;
  background-size: cover;
  transition: 1s opacity;
}
/* -- (caption) TEXT animated -- */
.caption {
  width: 100%;
  height: calc(100% - 75px);
  /* less Footer navbar + some padd */
  top: 0;
  left: 0;
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  /* IMP: ".main-logotype" goes here but in code is below */
  /* "caption" BTNs (weird fonts & colors added to pass "Google Lighthouse" test) */
}
.caption .call-to-action {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .caption .call-to-action {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .caption .call-to-action {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
  }
}
.caption h1 {
  font-family: "champagne", sans-serif;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 5px black, 0 0 5px black;
  -webkit-animation-name: fadeInDelay;
  animation-name: fadeInDelay;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (max-width: 600px) {
  .caption h1 {
    font-size: 2em;
    line-height: 45px;
  }
}
@media (max-height: 450px) {
  .caption h1 {
    font-size: 2em;
    line-height: 45px;
  }
}
.caption h1 span {
  padding: 0 20px;
}
.caption h2 {
  margin-top: -30px;
  font-size: 2.65em;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 5px black, 0 0 5px black;
  -webkit-animation-name: fadeInDelay;
  animation-name: fadeInDelay;
  -webkit-animation-duration: 950ms;
  animation-duration: 950ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (max-width: 768px) {
  .caption h2 {
    font-size: 1.5em;
  }
}
.caption h2.intro {
  color: #ff4081;
}
.caption h2.rest {
  color: #4fc3f7;
}
.caption h2.art {
  color: #b2ff59;
}
.caption h2.cock {
  color: #ffab00;
}
.caption h2.terr {
  color: #9575cd;
}
.caption a {
  min-width: 275px;
  margin: 5px;
  background-color: rgba(255, 64, 129, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #0f121e;
  text-transform: inherit;
  -webkit-animation-name: fadeInDelay;
  animation-name: fadeInDelay;
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.caption a:first-child {
  margin-left: 0;
}
.caption a .fa.fa-arrow-left {
  padding-right: 8px;
  opacity: .6;
}
@-webkit-keyframes fadeInDelay {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
  }
}
@keyframes fadeInDelay {
  0% {
    opacity: 0;
    transform: translate(-1500px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
/* -- Info Panel box to enable Promotions -- */
.info-box {
  display: none;
  max-width: 240px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-animation-name: fadeInDelay;
  animation-name: fadeInDelay;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (max-width: 800px) {
  .info-box {
    top: 100px;
  }
}
@media (min-height: 667px) {
  .info-box {
    display: block;
  }
}
.info-box .info-box-text {
  padding: 10px 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.info-box .info-box-text .info-box-text-img {
  display: inline-block;
  width: 80px;
  height: 73.33333px;
  background-image: url("../img/antiparasitarios/antiparasitarios-peluqueria-canessa.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.info-box .info-box-text .info-box-text-copy {
  display: inline-block;
  width: calc(100% - 90px);
  height: auto;
}
.info-box .info-box-link {
  padding: 5px;
  text-align: center;
}
.info-box .info-box-link .btn {
  width: 100%;
  background-color: rgba(255, 64, 129, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #0f121e;
  text-transform: inherit;
}
/* ----- (common) HTML ELEMENTS ---------------------------------------- */
body {
  /* -- (page) BG variations -- */
}
body.bg-black {
  background-color: #0f121e;
}
body.bg-paper {
  background: url(../../img/bg/paper.png) center repeat;
}
body.bg-fucsia {
  background-color: #ff4081;
}
body.bg-fucsia > p,
body.bg-fucsia h1,
body.bg-fucsia h2,
body.bg-fucsia h3,
body.bg-fucsia h4,
body.bg-fucsia h5,
body.bg-fucsia b,
body.bg-fucsia span:not(.js-current-year) {
  color: #ffffff !important;
}
body > h1,
body h2,
body h3 {
  font-family: "champagne", sans-serif !important;
}
/* -- Text & Paragraph -- */
p {
  line-height: 2rem;
}
.light {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #666666;
  line-height: 2rem;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.light span {
  font-weight: 400;
  color: #ff4081;
}
.light a {
  font-weight: 600;
  color: #039be5;
}
.light a:hover {
  text-decoration: underline;
  color: #1fb4fc;
}
.light b {
  font-weight: 600;
}
/* -- Strong Text -- */
.strong {
  font-weight: bold;
}
.stronger {
  font-weight: bold;
  color: black;
}
/* ----- (common) to enable ANIMATIONS ---------------------------- */
.row {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.row.scrollspy {
  margin-bottom: 0;
}
.row .col {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.grid__item-content {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.grid__item-img {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card-image {
  position: relative;
}
.card-image img {
  height: 100%;
  display: block;
}
.card-image img.hover-effect {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.card-image img.hover-effect:hover {
  opacity: 0;
}
/* ----- (common) CONTAINER, WRAPPER & SECTION ---------------------------- */
@media (min-width: 1400px) {
  .container,
  .headerSection {
    width: 70% !important;
    margin-right: 15% !important;
    margin-left: 15% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container,
  .headerSection {
    width: 85% !important;
    margin-right: 7.5% !important;
    margin-left: 7.5% !important;
  }
}
@media (max-width: 1199px) {
  .container,
  .headerSection {
    width: 90% !important;
    margin-right: 5% !important;
    margin-left: 5% !important;
  }
}
.section {
  padding-top: .7rem;
  padding-bottom: .7rem;
}
/* ----- (common) special CLASSES ---------------------------- */
/* --- Margin & Paddings Reserts --- */
.topMarg50 {
  margin-top: 50px;
}
.botMarg100 {
  margin-bottom: 100px;
}
/* --- for QUOTES --- */
.quotes .fa {
  position: relative;
  bottom: 5px;
  opacity: .5;
}
.quotes .fa.fa-quote-left {
  right: 5px;
}
.quotes .fa.fa-quote-right {
  left: 5px;
}
/* ----- (custom) special CLASSES ---------------------------- */
.brand-logo {
  padding: 10px 5px !important;
  /* overwrite "materialize" styles by default */
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.brand-logo .small-one {
  width: 150px;
  height: 45px;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.brand-logo .small-one:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
@media (max-width: 601px) {
  .brand-logo {
    padding: 7px 5px !important;
    /* overwrite "materialize" styles by default */
  }
  .brand-logo .small-one {
    width: 140px;
    height: 42px;
  }
}
/* TODO: remove it asap! ("position: fixed" works badly in iOS Safari browser) */
.th-fixed {
  background-color: #ffffff;
  position: fixed;
  top: 62px;
  z-index: 2;
}
@media (max-width: 600px) {
  .th-fixed {
    top: 52px;
  }
}
/* TODO: remove it asap! ("position: fixed" works badly in iOS Safari browser) */
.navbar-top + .body-container .th-fixed {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* -- (common component) TABS ------------------------------------------ */
.tabs {
  position: relative;
  height: 48px;
  background-color: transparent !important;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
}
.tabs .tab a {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #0f121e;
}
.tabs .tab a:hover,
.tabs .tab a:focus,
.tabs .tab a:active {
  color: #ff4081;
}
.tabs .tab a i {
  padding-right: 10px;
  color: #ff73a3;
}
.tabs .indicator {
  background-color: #ff4081;
  opacity: .3;
}
/* -- (custom) BUTTONS ------------------------------------------ */
.btn-custom {
  width: 100%;
  margin-top: 20px;
  text-transform: inherit;
}
.btn-custom:last-child {
  float: right;
  text-transform: lowercase;
  font-size: 18px;
  letter-spacing: 0.08em;
}
.btn-custom i {
  padding-right: 8px;
}
@media (min-width: 768px) {
  .btn-custom {
    width: 33.3333%;
  }
  .btn-custom:nth-child(2) {
    width: calc(33.3333% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* -- (common) CARD ------------------------------------------ */
.card {
  margin: 0;
  background-color: #ffffff;
  /*
  background-color: transparent;
  box-shadow: none;
  */
}
.card .card-image img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.card .card-image img:first-child {
  padding-bottom: 5px;
}
.card .card-image .card-title {
  padding: 15px;
}
.card .card-content {
  font-size: 18px;
}
.container-services:not(.container-doggies) .card .card-image img {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* -- (common) in All PAGES ------------------------------------------ */
.headerSection {
  margin-top: 100px;
}
.headerSection.headerSectionLegal {
  margin-top: 0;
}
@media (max-width: 768px) {
  .headerSection {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: auto !important;
    padding: 0 !important;
  }
}
@media all and (max-width: 600px) {
  .headerSection {
    margin-top: 75px;
  }
}
.headerSection h1,
.headerSection h3 {
  argin-bottom: 0;
  padding-top: 50px;
  font-family: "champagne", sans-serif;
  font-size: 2.92rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  color: #ff4081 !important;
  text-transform: initial;
}
.headerSection h1 span.capital,
.headerSection h3 span.capital {
  text-transform: capitalize;
}
.headerSection h1 span:not(.capital),
.headerSection h3 span:not(.capital) {
  text-transform: initial;
}
@media all and (max-width: 600px) {
  .headerSection h1,
  .headerSection h3 {
    padding-top: 0;
    font-size: 30px;
  }
}
.headerSection h2 {
  color: #666666 !important;
  font-size: 1.64rem;
}
.headerSection h2 span {
  color: #333333;
}
.headerSection .centerPicHeader {
  margin-top: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 250px;
}
.headerSection .centerPicHeader img {
  border: 5px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.headerSection .centerPicHeader p {
  line-height: 12px;
  color: #666666;
  text-align: center;
}
.paragraphs h5:first-child {
  margin-top: 0;
}
.paragraphs a.data {
  display: block;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #666666;
  line-height: 2rem;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.paragraphs p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #666666;
  line-height: 2rem;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.paragraphs p:first-child {
  margin-top: 0;
}
.paragraphs p:last-child {
  margin-bottom: 0;
}
.paragraphs li p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #666666;
  line-height: 2rem;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.paragraphs li p:first-child {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: .05em;
}
.paragraphs li p:last-child {
  margin-bottom: 20px;
}
.paragraphs .listOfItems p {
  margin: 0;
}
.badge.price {
  margin-left: 8px;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #039be5;
  color: #ffffff;
}
.food-weight {
  display: inline-block;
  min-width: 115px;
  color: #039be5;
}
#intro .headerSection {
  text-transform: uppercase;
}
#intro .artwork {
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#intro .artwork + h1,
#intro .artwork + h2 {
  padding-top: 0;
}
@media (max-width: 600px) {
  #intro .artwork {
    width: 150px;
    height: 150px;
  }
}
/* -- (common) container with ARTWORKS ---------------------------- */
.container-with-pic {
  margin-bottom: 50px;
}
.container-with-pic .artwork {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.container-with-pic .artwork.bigger {
  width: 300px;
  height: 300px;
}
.container-with-pic h1,
.container-with-pic h3 {
  padding-top: 0 !important;
}
.container-with-pic h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 2rem;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
/* -- (page) ERROR (404) ------------------------------------------ */
#not-found .container-with-pic {
  margin-bottom: 0;
}
#not-found + .container {
  margin-bottom: 50px;
}
@media (max-width: 920px) {
  #not-found + .container .row .col {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
/* -- (page) SITEMAP (mapa del sitio web) ------------------------ */
#sitemap .container-with-pic {
  margin-bottom: 10px;
}
#sitemap .container-with-pic .artwork.bigger {
  width: 300px;
  height: 168px;
}
#sitemap + .container {
  margin-bottom: 50px;
}
#sitemap + .container .light a {
  font-size: 1.2em;
  font-weight: 400;
  padding-left: 40px;
}
#sitemap + .container .light a.main-link {
  padding-left: 0;
}
#sitemap + .container .light a i {
  min-width: 40px;
}
@media (max-width: 420px) {
  #sitemap + .container .light a {
    font-size: 1em;
  }
}
/* -- (page) GALLERY (doggies + piensos) ------------------------- */
.container-services .row:nth-child(2) > .col {
  padding-top: .75rem;
  padding-bottom: .75rem;
}
/* -- (pages) DOGS / FOOD (galleries) --------------------- */
#advance .headerSection,
#libra .headerSection,
#doggies .headerSection {
  padding-bottom: 50px;
}
/* to set a minimun height in each ("Food" gallery) item */
#advance .row > .col:not(.headerSection),
#libra .row > .col:not(.headerSection) {
  min-height: 475px;
}
#doggies .row {
  /* "Skills" & "treatments" description */
  /* to set same padding in each IMG */
}
#doggies .row:not(.doggies-gallery) > .col .light {
  font-size: 22px;
}
#doggies .row:not(.doggies-gallery) > .col .light:first-child {
  margin-top: 0;
}
#doggies .row.doggies-gallery {
  margin-bottom: 60px;
}
#doggies .row.doggies-gallery > .col {
  padding: .75em;
}
/* -- (page) CONTACT --------------------------------------------- */
/*
// Always set the map height explicitly to define
// the size of the div element that contains the map
#map {
  height: 100%;
}
*/
#contact {
  margin-bottom: 0;
}
#contact iframe {
  position: relative;
  top: 65px;
}
#contact .headerSection {
  margin-top: 0;
}
@media (max-width: 600px) {
  #contact iframe {
    top: 58px;
  }
  #contact .headerSection h1 {
    padding-top: 40px;
  }
}
#contact + container {
  margin-bottom: 3em;
}
/* -- (page) LEGAL terms & conditions of Use --------------------- */
.collageImg > div {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: -8px !important;
}
/* "How to disable cookies in all browsers types" BTNS */
.browsers-list li {
  max-width: 250px;
  margin: 8px 0;
  padding: 5px 10px 5px 60px;
  background-color: #ffffff;
  border: 1px solid #039be5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.browsers-list li a i {
  padding-right: 10px;
}
.browsers-list li:hover {
  background-color: #039be5;
}
.browsers-list li:hover a,
.browsers-list li:hover a i {
  color: #ffffff;
}
@media (min-width: 601px) and (max-width: 900px) {
  .browsers-list li {
    padding-left: 10px;
  }
}
@media (max-width: 600px) {
  .browsers-list li {
    margin: 8px auto;
  }
}
