//- Structured Data (Twitter Cards) on AUTOLAVADO page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Autolavado en la peluquería canina Canessa Valdemoro, Madrid')
meta(name='twitter:description', content='Ofrecemos un completo servicio de autolavado canino. Nosotros ponemos las instalaciones con bañera hidráulica, champú, expulsadores de aire y secadores así como toallas y asesoramiento profesional.')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-autolavado.jpg')
meta(name='twitter:image:alt', content='Servicio de Autolavado en la peluquería canina Canessa de Valdemoro')
