//- Structured Data (Twitter Cards) on ANTIPARASITARIOS page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Antiparasitarios en la peluquería canina Canessa Valdemoro')
meta(name='twitter:description', content='Collares, pipetas y antiparasitarios en la peluquería canina Canessa de Valdemoro para luchar contra los parásitos que transmiten enfermedades a nuestras mascotas. 91 248 04 30')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-antiparasitarios.jpg')
meta(name='twitter:image:alt', content='Collares, pipetas y antiparasitarios en la peluquería canina Canessa Valdemoro, Madrid')
