//- Structured Data (Twitter Cards) on CONTACT page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Contacta con la peluquería canina Canessa Valdemoro, Madrid')
meta(name='twitter:description', content='Contacta con la Peluquería canina Canessa en la calle Vicente Aleixandre, 5 - 28341 - Valdemoro, Madrid. Tlf: 91 248 04 30')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-contacto.jpg')
meta(name='twitter:image:alt', content='Mapa de ubicación de la peluquería canina Canessa Valdemoro, Madrid')
