//- Structured Data (Twitter Cards) on INSTALACIONES page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Instalaciones de la peluquería canina Canessa Valdemoro')
meta(name='twitter:description', content='Las instalaciones de la Peluquería canina Canessa en Valdemoro están perfectamente acondicionadas para relaizar cualquier trabajo de peluquería canina maxificando la comodidad de su mascota y minificando el estrés que esta pueda sufrir durante el proceso de trabajo. 91 248 04 30')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-instalaciones.jpg')
meta(name='twitter:image:alt', content='Instalaciones de la peluquería canina Canessa Valdemoro, Madrid')
