//- Structured Data (Twitter Cards) on INDEX page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Peluquería canina Canessa Valdemoro, Madrid')
meta(name='twitter:description', content='La peluquería canina Canessa ofrece cortes de pelo comerciales y de exposición así como arreglos y baños en Valdemoro. Siempre con el mínimo estrés y máximo cuidado para vuestras mascotas y en el mejor entorno. Servicio de autolavado al mejor precio y SPA canino.')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-index.jpg')
meta(name='twitter:image:alt', content='Servicios ofrecidos por la peluquería canina Canessa de Valdemoro')
