//- Structured Data (Twitter Cards) on MASCOTACTIVA page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@mascotactiva')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Mascotactiva, paseamos y entrenamos a su mascota')
meta(name='twitter:description', content='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa. Ofrecemos servicios de guardería canina, paseos relajantes, entrenamiento físico, adiestramiento y gestión emocional.')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-mascotactiva.jpg')
meta(name='twitter:image:alt', content='Mascotactiva en la peluquería canina Canessa de Valdemoro')
