//- Structured Data (Twitter Cards) on PIENSOS page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Piensos y alimentación canina en peluquería canina Canessa Valdemoro')
meta(name='twitter:description', content='Piensos y alimentación canina en la Peluquería canina Canessa de Valdemoro en Madrid. Trabajamos con Affinity en sus variantes Libra y Advange tanto para perros mini, adultos, cachorros y en bolsas de distintos tamaños. 91 248 04 30')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-piensos.jpg')
meta(name='twitter:image:alt', content='Servicios ofrecidos por la peluquería canina Canessa Valdemoro, Madrid')
