//- Structured Data (Twitter Cards) on PELUQUERÍA page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Peluquería canina Canessa Valdemoro, Madrid')
meta(name='twitter:description', content='Peluquería canina Canessa ofrece cortes de pelo comerciales y de exposición así como arreglos y baños en Valdemoro. También realizamos stripping y tenemos SPA canino. Siempre con el mínimo estrés y máximo cuidado para vuestras mascotas. 91 248 04 30')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-peluqueria.jpg')
meta(name='twitter:image:alt', content='Servicios de peluquería canina en la peluquería canina Canessa Valdemoro, Madrid')
