//- Structured Data (Twitter Cards) on SERVICES page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Servicios peluquería canina Canessa Valdemoro')
meta(name='twitter:description', content='Ofrecemos servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición así como arreglos y lavados. También ofrecemos Autolavados y SPA canino así como nuestro exclusivo servicio de Mascotactiva. 91 248 04 30')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-servicios.jpg')
meta(name='twitter:image:alt', content='Servicios ofrecidos por la peluquería canina Canessa Valdemoro, Madrid')
