//- Structured Data (Twitter Cards) on VANESSAVIZCAYA page
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@peluqueriacanessa')
meta(name='twitter:creator', content='@jalofernandez')
meta(name='twitter:title', content='Vanessa Vizcaya de la peluquería canina Canessa Valdemoro')
meta(name='twitter:description', content='Vanessa Vizcaya García, Canessa, es una peluquera canina profesional con más de 8 años de experiencia en el sector pero en continua formación. Le avalan profesionalmente. En 2009 empieza a formarse como peluquera canina en la ISED para después completar su formación con Mónica Calderón. Contacta con ella en el 91 248 04 30')
meta(name='twitter:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-vanessavizcaya.jpg')
meta(name='twitter:image:alt', content='Vanessa Vizcaya en la peluquería canina Canessa Valdemoro, Madrid')
