@import (reference) "_vars";

/* ----- MIXINS --------------------------------- */

.anim(@type, @time, @long) {
  -webkit-transition: @type @time @long;
  -moz-transition: @type @time @long;
  -ms-transition: @type @time @long;
  -o-transition: @type @time @long;
  transition: @type @time @long;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.main-text(@size, @weight, @space) {
  font-size: @size;
  font-weight: @weight;
  letter-spacing: @space;
}

.common-text(@color: @color-text, @weight: 400) {
  font-family: 'Roboto', sans-serif;
  .main-text(18px, @weight, 0.02em);
  color: @color;
  line-height: 2rem;
  .anim(all, 150ms, ease);
}

.centered(@left: 50%) {
  position: relative;
  left: @left;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.flexbox(@flex-direction: row, @flex-wrap: nowrap, @justify-content: center, @align-items: flex-start) {
  display: flex;
  flex-direction: @flex-direction;
  flex-wrap: @flex-wrap;
  justify-content: @justify-content;
  align-items: @align-items;
}

.btn-call-to-action(@bg-color: @fucsia-opacity, @color: @color-dark) {
  background-color: @bg-color;
  font-family: "Roboto", sans-serif;
  .main-text(18px, 400, .03em);
  color: @color;
  text-transform: inherit;
}

// to enable transition (Hover effect) between 2 images
.img-hover-effect(@position: absolute) {
  position: relative;

  img {
    height: 100%;
    display: block;

    &.hover-effect {
      position: @position;
      top: 0;
      left: 0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      // Hover effect
      &:hover {
        opacity: 0;
      }
    }
  }
}

.scale(@scale) {
  -webkit-transform: scale(@scale);
  -moz-transform: scale(@scale);
  -ms-transform: scale(@scale);
  -o-transform: scale(@scale);
  transform: scale(@scale);
}
