@import (reference) "_vars";

/* ----- MIXINS --------------------------------- */

.anim(@type, @time, @long) {
  -webkit-transition: @type @time @long;
  -moz-transition: @type @time @long;
  -ms-transition: @type @time @long;
  -o-transition: @type @time @long;
  transition: @type @time @long;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.main-text(@size, @weight, @space) {
  font-size: @size;
  font-weight: @weight;
  letter-spacing: @space;
}

.common-text(@color: @color-text, @weight: 400) {
  font-family: 'Roboto', sans-serif;
  .main-text(18px, @weight, 0.02em);
  color: @color;
  line-height: 2rem;
  .anim(all, 150ms, ease);
}

.centered(@left: 50%) {
  position: relative;
  left: @left;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-section() {
  margin: 0 auto 80px;
  padding: 16px;
  .border-radius(2px);
  background-color: @color-white;
  //color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  > .section {
    padding: 0 !important;

    .row:last-child {
      margin-bottom: 0 !important;
    }
  }
}
