/*
 * (custom) CSS stylesheet applied in all Views / pages less INDEX (not critical one!)
 */

@import '_vars';
@import '_mixins';
@import '_common';
@import '_grid';
// only used in "index" view (critical one!)
@import '_index';

/* ----- (common) HTML ELEMENTS ---------------------------------------- */

body {
  /* -- (page) BG variations -- */
  &.bg-black {
    background-color: @color-dark;
  }

  &.bg-paper {
    background: url(../../img/bg/paper.png) center repeat;
  }

  &.bg-fucsia {
    background-color: @color-main;

    > p, h1, h2, h3, h4, h5, b, span:not(.js-current-year) {
      color: @color-white !important;
    }
  }

  > h1, h2, h3 {
    font-family: "champagne", sans-serif !important;
  }
}

/* -- Text & Paragraph -- */

p {
  line-height: 2rem;
}

// used in "Legal" pages
.light {
  .common-text();

  span {
    font-weight: 400;
    color: @color-main;
  }

  a {
    font-weight: 600;
    color: @color-blue;
    &:hover {
      text-decoration: underline;
      color: lighten(@color-blue, 10%);
    }
  }

  b {
    font-weight: 600;
  }
}

/* -- Strong Text -- */

.strong {
  font-weight: bold;
}

.stronger {
  font-weight: bold;
  color: black;
}

/* ----- (common) to enable ANIMATIONS ---------------------------- */

// each "row" group (Materialize)
.row {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  // each "col" group (Materialize)
  .col {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
// each "row" Text block (Grid)
.grid__item-content {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
// each "row" IMG block (Grid)
.grid__item-img {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* ----- (common) CONTAINER, WRAPPER & SECTION ---------------------------- */

.container,
.headerSection {
  @media (min-width: 1400px) {
    width: 70% !important;
    margin-right: 15% !important;
    margin-left:  15% !important;
  }
  @media (min-width: 1200px) and (max-width: 1399px) {
    width: 85% !important;
    margin-right: 7.5% !important;
    margin-left:  7.5% !important;
  }
  @media (max-width: 1199px) {
    width: 90% !important;
    margin-right: 5% !important;
    margin-left:  5% !important;
  }
}

/*
// to add "card" design (Material element)
.container:not(.container-no-card) {
  .card-section();
}
*/

.section {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

/* ----- (common) special CLASSES ---------------------------- */

/* --- Margin & Paddings Reserts --- */

.topMarg50 {
  margin-top: 50px;
}

.botMarg100 {
  margin-bottom: 100px;
}

/* --- for QUOTES --- */

.quotes {
  .fa {
    position: relative;
    bottom: 5px;
    opacity: .5;
    &.fa-quote-left {
      right: 5px;
    }
    &.fa-quote-right {
      left: 5px;
    }
  }
}

/* --- DropDown Nav --- */

.dropdown-content {
  background-color: black;
  top: 75px !important;

  li:hover {
    background-color: black;
  }
}

/* ----- (custom) special CLASSES ---------------------------- */

// (common) top navbar LOGO
.brand-logo {
  padding: 10px 5px !important; /* overwrite "materialize" styles by default */
  .anim(all, 150ms, ease-in);

  .small-one {
    width: 150px;
    height: 45px;
    .anim(all, 150ms, ease-in);
  }
  // responsive behaviour
  @media (max-width: 601px) {
    padding: 7px 5px !important; /* overwrite "materialize" styles by default */

    .small-one {
      width: 140px;
      height: 42px;
    }
  }
}

/* TODO: remove it asap! ("position: fixed" works badly in iOS Safari browser) */
// to apply Fixed position (CSS property)
.th-fixed {
  background-color: @color-white;
  position: fixed;
  top: 62px;
  z-index: 2;
  // mobile portrit only
  @media (max-width: 600px) {
    top: 52px;
  }
}

/* TODO: remove it asap! ("position: fixed" works badly in iOS Safari browser) */
// to apply Fixed position (CSS property)
.navbar-top + .body-container {
  .th-fixed {
    .anim(all, 0.3s, ease);
  }
}

/* -- (common component) TABS ------------------------------------------ */

// only used in "PIENSO" view by the moment
.tabs {
  position: relative;
  height: 48px;
  background-color: transparent !important;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;

  .tab {
    a {
      text-transform: capitalize;
      .main-text(20px, 600, .05em);
      color: @color-dark;

      &:hover, &:focus, &:active {
        color: @color-main;
      }

      i {
        padding-right: 10px;
        color: lighten(@color-main, 10%);
      }
    }
  }

  .indicator {
    background-color: @color-main;
    opacity: .3;
  }
}

/* -- (custom) BUTTONS ------------------------------------------ */

.btn-mascotactiva {
  width: 100%;
  margin-top: 20px;
  text-transform: inherit;

  &:last-child {
    float: right;
    text-transform: lowercase;
    font-size: 18px;
    letter-spacing: 0.08em;
  }

  i {
    padding-right: 8px;
  }
  // Laptop, desktop, tablets & big devices
  @media (min-width: 768px) {
    width: 33.3333%;

    &:nth-child(2) {
      width: ~"calc(33.3333% - 40px)";
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

/* -- (common) in All PAGES ------------------------------------------ */

.headerSection {
  margin-top: 100px;
  // applied in "Legal" page
  &.headerSectionLegal {
    margin-top: 0;
  }
  // responsive behaviour
  @media (max-width: 768px) {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: auto !important;
    padding: 0 !important;
  }
  @media all and (max-width: 600px) {
    margin-top: 75px;
  }

  // main (view) Title
  h1, h3 {
    font-family: "champagne", sans-serif;
    padding-top: 50px;
    margin-bottom: 0;
    font-size: 2.92rem;
    color: @color-main !important;
    font-weight: bolder;
    text-transform: initial;
    // subtitles near to main (view) title
    span {
      &.capital {
        text-transform: capitalize;
      }
      &:not(.capital) {
        text-transform: initial;
      }
    }
    @media all and (max-width: 600px) {
      padding-top: 0;
      font-size: 30px;
    }
  }

  // subtitles (just below main ones!)
  h2 {
    color: @color-text !important;
    font-size: 1.64rem;

    span {
      color: @grey-3;
    }
  }

  .centerPicHeader {
    margin-top: 20px;
    .centered();
    position: absolute;
    width: 250px;

    img {
      border: 5px solid white;
      .border-radius(50%);
      width: 250px;
      height: 250px;
    }

    p {
      line-height: 12px;
      color: @color-text;
      text-align: center;
    }
  }
}

// to apply big Text (copies) Blocks
// only used in "LEGAL" view by the moment!
.paragraphs {

  h5:first-child {
    margin-top: 0;
  }

  a.data {
    display: block;
    padding-bottom: 10px;
    .common-text();
  }

  p {
    .common-text();
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    p {
      .common-text();

      &:first-child {
        text-transform: uppercase;
        font-size: 17px;
        letter-spacing: .05em;
      }
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  .listOfItems {
    p {
      margin: 0;
    }
  }
}

// Price and Info badges:
// only used in "PIENSOS" view by the moment!
.badge {
  &.price {
    margin-left: 8px;
    padding: 3px 5px;
    .border-radius(3px);
    background-color: @color-blue;
    color: @color-white;
  }
}
// for Food details
.food-weight {
  display: inline-block;
  min-width: 115px;
  color: @color-blue;
}

// only used in "LEGAL" view by the moment!
#intro {
  .headerSection {
    text-transform: uppercase;
  }

  .artwork {
    width: 200px;
    height: 200px;
    .centered();

    & + h1,
    & + h2 {
      padding-top: 0;
    }
    // to do the current pic smaller
    @media (max-width: 600px) {
      width: 150px;
      height: 150px;
    }
  }
}

/* -- (common) container with ARTWORKS ---------------------------- */

.container-with-pic {
  margin-bottom: 50px;

  .artwork {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    .centered();
    // bigger one
    &.bigger {
      width: 300px;
      height: 300px;
    }
  }

  h1, h3 {
    padding-top: 0 !important;
  }
}

/* -- (page) AUTOLAVADO ------------------------------------------ */

#autolavado {
  .headerSection {
    h1 {
      color: @color-white !important; // overwrite
    }
  }

  > h5 {
    .common-text();
  }
}

/* -- (page) ERROR (404) ------------------------------------------ */

#not-found {
  .container-with-pic {
    margin-bottom: 0;
  }
  & + .container {
    margin-bottom: 50px;

    .row .col {
      @media (max-width: 920px) {
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
  }
}

/* -- (page) SITEMAP (mapa del sitio web) ------------------------ */

#sitemap {
  .container-with-pic {
    margin-bottom: 10px;

    .artwork.bigger {
      width: 300px;
      height: 168px;
    }
  }

  & + .container {
    margin-bottom: 50px;

    .light {
      a {
        font-size: 1.2em;
        font-weight: 400;
        padding-left: 40px;
        &.main-link {
          padding-left: 0;
        }

        i {
          padding-right: 10px;
        }
        // Responsive behaviour
        @media (max-width: 420px) {
          font-size: 1em;
        }

        // (hover effect) nav link line animation
        &::before {
          content: '';
          position: absolute;
          background: currentColor;
          width: 75%;
          height: 1px;
          bottom: 0;
          transform-origin: 0% 50%;
          transform: scale3d(0,1,1);
          opacity: 0;
          transition: all 0.25s;
          transition-property: opacity, transform;
        }
        &:hover::before {
          opacity: 1;
          transform: scale3d(1,1,1);
        }
      }
    }
  }
}

/* -- (page) GALLERY (doggies + piensos) ------------------------- */

.container-services {
  .row:nth-child(2) {
    > .col {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
}

/* -- (pages) DOGS / FOOD (galleries) --------------------- */

#advance, #libra, #doggies {
  .headerSection {
    padding-bottom: 50px;
  }
}

/* to set a minimun height in each ("Food" gallery) item */
#advance, #libra {
  .row > .col:not(.headerSection) {
    min-height: 475px;
  }
}

#doggies {
  .row {
    /* "Skills" & "treatments" description */
    &:not(.doggies-gallery) {
      > .col {
        .light {
          font-size: 22px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    /* to set same padding in each IMG */
    &.doggies-gallery {
      margin-bottom: 60px;

      > .col {
        padding: .75em;
      }
    }
  }
}

/* -- (page) MASCOTACTIVA --------------------------------------- */

.container-mascotactiva {
  margin-bottom: 50px;
}

/* -- (page) CONTACT --------------------------------------------- */
/*
// Always set the map height explicitly to define
// the size of the div element that contains the map
#map {
  height: 100%;
}
*/

#contact {
  margin-bottom: 0;

  iframe {
    position: relative;
    top: 65px;
  }
  .headerSection {
    margin-top: 0;
  }

  @media (max-width: 600px) {
    iframe {
      top: 58px;
    }
    .headerSection h1 {
      padding-top: 40px;
    }
  }
}

/* -- (page) LEGAL terms & conditions of Use --------------------- */

.collageImg > div {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: -8px !important;
}

/* "How to disable cookies in all browsers types" BTNS */
.browsers-list {
  li {
    max-width: 250px;
    margin: 8px 0;
    padding: 5px 10px 5px 60px;
    background-color: @color-white;
    border: 1px solid @color-blue;
    .border-radius(2px);
    .anim(all, 150ms, ease);

    a {
      i {
        padding-right: 10px;
      }
    }
    // hover effect
    &:hover {
      background-color: @color-blue;
      a,
      a i {
        color: @color-white;
      }
    }
    // to fit all BTNs
    @media (min-width: 601px) and (max-width: 900px){
      padding-left: 10px;
    }
    // to center all BTNs in small devices
    @media (max-width: 600px) {
      margin: 8px auto;
    }
  }
}
