//- Structured Data (Schema) on MASCOTACTIVA page
script(type='application/ld+json').
    {
         "@context": "http://schema.org",
         "@type": "LocalBusiness",
         "additionalType": "Paseo y entrenamiento de mascotas. Cuidado, entrenamiento y guardería canina. ",
          "@id": "https://peluqueriacanessa.com/mascotactiva",
          "url": "https://peluqueriacanessa.com/mascotactiva",
          "sameAs": [
            "https://www.youtube.com/channel/UC4LoDR63NJGdqS48_1FGReg/featured",
            "https://www.facebook.com/Mascotactiva/",
            "https://www.instagram.com/mascotactiva/"
          ],
          "logo": "https://peluqueriacanessa.com/img/mascotactiva/mascotactiva-logo_small.png",
          "name": "Mascotactiva, paseamos y entrenamos a su mascota",
          "description": "Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa. Ofrecemos servicios de guardería canina, paseos relajantes, entrenamiento físico, adiestramiento y gestión emocional.",
          "telephone": "+34 636 515 206",
          "email": "mascotactiva@hotmail.com",
          "currenciesAccepted": "EUR",
          "paymentAccepted": "Efectivo, tarjeta de crédito, Cash, Credit Card",
          "priceRange": "Desde 10€",
          "image": "https://peluqueriacanessa.com/img/schema/mascotactiva_promo-pic_flyers_2018-Q1.jpg",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+34 636 515 206",
            "contactType": "Pedir presupuesto, atención al cliente, customer service"
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Calle Vicente Aleixandre, 5",
            "postalCode": "28342",
            "addressLocality": "Valdemoro",
            "addressRegion": "Madrid"
          },
          "hasMap": "https://www.google.com/maps/place/Calle+Vicente+Aleixandre,+5,+28342+Valdemoro,+Madrid,+Espa%C3%B1a/@40.194004,-3.686798,16z/data=!4m5!3m4!1s0xd421eebe2345589:0x32ee6507d1f88103!8m2!3d40.1940037!4d-3.6867977?hl=es",
          "geo" : {
            "@type": "GeoCoordinates",
            "latitude": "40.194004",
            "longitude": "-3.686798"
          }
    }