//- Structured Data (Schema) on VANESSAVIZCAYA page
script(type='application/ld+json').
    {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "additionalType": "Vanessa Vizcaya en la peluquería canina Canessa Valdemoro, Madrid",
          "@id": "https://peluqueriacanessa.com/vanessavizcaya",
          "url": "https://peluqueriacanessa.com/vanessavizcaya",
          "sameAs": [
            "https://www.youtube.com/channel/UCqzf03PPcv5F3u0RAEtwqmw",
            "https://www.facebook.com/Peluqueria-Canina-Canessa-113194982084561/",
            "https://www.instagram.com/peluqueriacanessa/"
          ],
          "logo": "https://peluqueriacanessa.com/img/logos/canessa-logo.svg",
          "name": "Vanessa Vizcaya en la peluquería canina Canessa Valdemoro, Madrid",
          "description": "Vanessa Vizcaya García, Canessa, es una peluquera canina profesional con más de 8 años de experiencia en el sector pero en continua formación. Le avalan profesionalmente. En 2009 empieza a formarse como peluquera canina en la ISED para después completar su formación con Mónica Calderón. Contacta con ella en el 91 248 04 30",
          "telephone": "+34 91 248 04 30",
          "email": "van.vizcaya@gmail.com",
          "currenciesAccepted": "EUR",
          "paymentAccepted": "Efectivo, tarjeta de crédito, Cash, Credit Card",
          "priceRange": "Desde 10€",
          "image": "https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-vanessavizcaya.jpg",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+34 91 248 04 30",
            "contactType": "Pedir cita, atención al cliente, customer service"
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Calle Vicente Aleixandre, 5",
            "postalCode": "28342",
            "addressLocality": "Valdemoro",
            "addressRegion": "Madrid"
          },
          "hasMap": "https://www.google.com/maps/place/Calle+Vicente+Aleixandre,+5,+28342+Valdemoro,+Madrid,+Espa%C3%B1a/@40.194004,-3.686798,16z/data=!4m5!3m4!1s0xd421eebe2345589:0x32ee6507d1f88103!8m2!3d40.1940037!4d-3.6867977?hl=es",
          "geo" : {
            "@type": "GeoCoordinates",
            "latitude": "40.194004",
            "longitude": "-3.686798"
          },
          "aggregateRating": {
             "@type": "AggregateRating",
             "ratingValue": "5",
             "bestRating": "5",
             "worstRating": "5",
             "ratingCount": "64"
          },
          "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Lunes",
              "Martes",
              "Miercoles",
              "Jueves",
              "Viernes",
              "Sábado"
            ],
            "opens": "10:30",
            "closes": "13:30"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Lunes",
              "Martes",
              "Miercoles",
              "Jueves",
              "Viernes"
            ],
            "opens": "16:30",
            "closes": "20:00"
          }
          ]
    }