//- Structured Data (Schema) on SERVICIOS page
script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "@type": "ItemList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@type": "Service",
                    "name": "Peluquería canina",
                    "image": "https://peluqueriacanessa.com/img/doggies/yorkshire-en-mesa-de-corte.jpg",
                    "description": "Servicios de peluquería canina ofrecidos por la peluquería Canessa"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@type": "Service",
                    "name": "Autolavado al mejor precio",
                    "image": "https://peluqueriacanessa.com/img/doggies/showing-time.jpg",
                    "description": "Servicio de autolavado canino con asesoramiento profesional"
                }
            },
            {
                 "@type": "ListItem",
                 "position": 3,
                 "item": {
                     "@type": "Service",
                     "name": "Pienso y alimentos caninos",
                     "image": "https://peluqueriacanessa.com/img/food/advange-medium-7years.png",
                     "description": "Piensos y alimento canino en la peluquería canina Canessa"
                 }
            },
            {
                "@type": "ListItem",
                "position": 4,
                "item": {
                    "@type": "Service",
                    "name": "Complementos para animales domésticos",
                    "image": "https://peluqueriacanessa.com/img/complementos/bubbles_shampoo_peluqueria_canina_canessa.jpg",
                    "description": "Collares, correas y otros complementos en la peluquería canina Canessa"
                }
            },
            {
                "@type": "ListItem",
                "position": 5,
                "item": {
                    "@type": "Service",
                    "name": "Mascotactiva: paseamos y entrenamos a su mascota",
                    "image": "https://peluqueriacanessa.com/img/mascotactiva/mascotactiva-pastor-aleman-rafa-cros.jpg",
                    "description": "Psicología y entrenamiento canino en la peluquería canina Canessa"
                }
            },
            {
                "@type": "ListItem",
                "position": 6,
                "item": {
                    "@type": "Service",
                    "name": "Vanessa Vizcaya: Canessa",
                    "image": "https://peluqueriacanessa.com/img/aboutme/vanessa-vizcaya-peluqueria-canina-canessa.jpg",
                    "description": "Sobre Vanessa Vizcaya, peluquera canina en la peluquería Canessa en Valdemoro"
                }
            }
        ]
    }
