//- Structured Data (Schema) on PIENSOS page
script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://peluqueriacanessa.com",
                    "name": "Peluqueria canina Canessa",
                    "image": "https://peluqueriacanessa.com/img/schema/canessa_promo-pic_flyer_2018-Q1.jpg"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https://peluqueriacanessa.com/piensos",
                    "name": "Peluqueria",
                    "image": "https://peluqueriacanessa.com/img/food/advange-medium-7years.png"
                }
            }
        ]
    }