//- "created by" signature in all pages ending
.createdby
    p
        em #{common.createdby.intro}
        a(href='https://jalofernandez.com', target='_blank', rel='noopener noreferrer', title='Ir al website de Jalofernandez, diseño gráfico y desarrollo web')
            | #{common.createdby.creator}