//- All (common) METATAGS in head tag
meta(name='author', content='@jalofernandez para Vanessa Vizcaya, Canessa')
meta(name='copyright', content='Canessa peluquería canina')
meta(name='robots', content='index, follow, archive')
meta(name='generator', content='html5, css3, nodejs, yarn, less, pug, gulp, jQuery, JavaScript')
meta(name='google', content='nositelinkssearchbox')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='lang', content='es-ES')
meta(name='Classification', content='Business')
meta(name='subject', content='Pets health & beauty saloon in Valdemoro, Madrid')
meta(name='rating', content='General')
meta(name='coverage', content='Worldwide')
//- MANIFEST and Browsers specs
link(rel="manifest", href="manifest.json")
//- FAVICON and (all devices) Icons
link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", href="img/favicon/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="img/favicon/favicon-16x16.png", sizes="16x16")
//- TODO: all the following images are needed!
  link(rel='apple-touch-icon', href='/favicon/app-icon-57x57.png', sizes='57x57')
  link(rel='apple-touch-icon', href='/favicon/app-icon-60x60.png', sizes='60x60')
  link(rel='apple-touch-icon', href='/favicon/app-icon-72x72.png', sizes='72x72')
  link(rel='apple-touch-icon', href='/favicon/app-icon-76x76.png', sizes='76x76')
  link(rel='apple-touch-icon', href='/favicon/app-icon-114x114.png', sizes='114x114')
  link(rel='apple-touch-icon', href='/favicon/app-icon-120x120.png', sizes='120x120')
  link(rel='apple-touch-icon', href='/favicon/app-icon-144x144.png', sizes='144x144')
  link(rel='apple-touch-icon', href='/favicon/app-icon-152x152.png', sizes='152x152')
  link(rel='apple-touch-icon', href='/favicon/app-icon-180x180.png', sizes='180x180')
  link(rel="icon", type="image/png", sizes="32x32", href="favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="favicon/favicon-16x16.png")
//- Browsers Tabs
link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
//- to customize (all browsers) top navbar
meta(name="theme-color", content="#ff4081")
//- to Webkit (iOS Safari) browsers
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-title', content='@jalofernandez')
//- to IE (windows phone) browsers
  meta(name='msapplication-TileImage', content='/src/images/icons/app-icon-144x144.png')
meta(name='msapplication-TileColor', content='#0f121e')
meta(name='msapplication-starturl', content='/')
//- SiteMap
link(rel='sitemap', href='sitemap.xml', title='Mapa general del website')
//- CSS
link(rel='stylesheet', type='text/css', href='css/main.min.css', media='screen,projection')
//- Google Analytics track id
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-92611489-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-92611489-1');
