//- MODAL dialog in DESKTOP devices :: "COMING SOON!"
#modal_section.modal.bottom-sheet
    .modal-content
        h4 COMING SOON!
        p Here will go an amazing section... See you Soon!
    .modal-footer
        a.modal-action.modal-close.btn-flat(href='#!')
            | #{common.close}&nbsp;
            i.fa.fa-close