//- MODAL: (common) to Set, Get and Check a Cookie to show or Hide the following Modal dialog
.mhc-modal.mhc-intro-modal(role='alert')
    .mhc-modal-inner
        .mhc-modal-info-container
            .mhc-copy-container
                h4.mhc-title #{advise.title}
                //- for each loop to load all copies in "locales" json file/s
                each paragraph, i in advise.paragraphs
                  p.mhc-description !{paragraph}
            .mhc-close-btn
              a.mhc-intro-modal-close(href='#0')
                | Cerrar:&nbsp;
                i.fa.fa-close    
