//- MODAL: (common) to Set, Get and Check a Cookie to show or Hide the following Modal dialog
.mhc-modal.mhc-intro-modal(role='alert')
    .mhc-modal-inner
        .mhc-modal-info-container
            a.mhc-intro-modal-close(href='#0') Close
            .mhc-copy-container(style="background-image: url('your-image-path.jpg');")
                h3.mhc-title The Title
                p.mhc-description The description bla bla bla