//- CONTACT SubNAV in (common) Footer
#nav-contact
    ul
        li
            a(href='tel:912480430', title='Llamar a peluquería canina Canessa')
                i.fa.fa-phone
                | #{common.phone}
        li
            a(href='https://goo.gl/maps/Aegzf2qZF4x', target='_blank', rel="noopener noreferrer", title='Dirección de peluquería canina Canessa en Google Maps')
                i.fa.fa-map-marker
                | !{common.address}
#nav-info
    a.modal-trigger(href='#modal_contact', title='Contacto de la peluquería canina Canessa')
        | #{common.titles.contact}
