//- (00) Xmas lightbulbs rope
- var n = 0;
ul.lightrope
  while n < 35
    li= n++ 
//- (00) Xmas Snow flakes
.snow
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
  .flake
