@charset "utf-8"
// TODO: check it to import only usefull "utilities" not all by default
// @import "~bulma/sass/utilities/_all.sass"

// custom vars
// brand colors
$fucsia: #ff4081 // Canessa brand main color
$pink-light: #ffd9f0
$color-main: $fucsia
$color-secondary: #039be5
$color-dark-opacity: rgba(15,18,30,.9)
$mascotactiva: #f7e100
$jalofernandez: #f4692a

// third party brands colors
$whatsapp: #25d366
$instagram: #e1306c
$facebook: #3b5998
$youtube: #ff0000

// TODO: Bulma colors (check to import them correctly)
$white-ter: hsl(0, 0%, 93%)
$black-bis: hsl(0, 0%, 7%)
$turquoise: $color-main
$yellow: $mascotactiva
$has-text-primary: $color-main
$has-text-link: $color-secondary
$has-text-warning: $yellow

$navbar-background-color: $color-dark-opacity
$navbar-item-color: $white-ter
$navbar-item-hover-color: $fucsia
$navbar-item-hover-background-color: $black-bis
$navbar-dropdown-background-color: $color-dark-opacity
$navbar-dropdown-border-top: 1px solid $black-bis
$navbar-dropdown-arrow: $fucsia
$navbar-dropdown-item-hover-color: $fucsia
$navbar-dropdown-item-hover-background-color: $black-bis
$navbar-divider-height: 1px
$navbar-divider-background-color: $black-bis

$footer-background-color: transparent

// TODO: check why bulma is loading twice
@import "~bulma/bulma"
