@charset "utf-8"
// TODO: check it to import only usefull "utilities" not all by default
// @import "~bulma/sass/utilities/_all.sass"

// custom vars
// brand colors
$fucsia: #ff4081 // Canessa brand main color
$pink-light: #ffd9f0
$color-main: $fucsia
$color-secondary: #039be5
$color-text: #2f3754 // dark Navy Blue instead Grey ones as hsl(0, 0%, 33%) or rgb(74,74,74)
$color-dark: $color-text // rgb(15,18,30)
$color-dark-opacity: rgba(rgb(15,18,30),.9)
$backdrop: saturate(180%) blur(3px) // in modern browsers only
$paper: url(~assets/images/bg/paper.png) center repeat
$jalofernandez: #f4692a
$haztunegociodigital: #24cf09

// third party brands colors
$whatsapp: #25d366
$instagram: #e1306c
$facebook: #3b5998
$youtube: #ff0000

// Bulma UI vars overwrites
// TODO: check to import them correctly!!
$white-ter: hsl(0, 0%, 93%)
$black-bis: hsl(0, 0%, 7%)
$turquoise: $color-main
$yellow: #f7e100
$dark: $color-dark
$grey-dark: $color-dark
$grey-darker: $color-dark
$has-text-primary: $color-main
$has-text-link: $color-secondary
$has-text-warning: $yellow
$has-text-grey-darker: $color-dark

$navbar-background-color: $color-dark-opacity
$navbar-item-color: $white-ter
$navbar-item-hover-color: $fucsia
$navbar-item-hover-background-color: $black-bis
$navbar-dropdown-background-color: $color-dark-opacity
$navbar-dropdown-border-top: 1px solid $black-bis
$navbar-dropdown-arrow: $fucsia
$navbar-dropdown-item-hover-color: $fucsia
$navbar-dropdown-item-hover-background-color: $black-bis
$navbar-divider-height: 1px
$navbar-divider-background-color: $black-bis

$modal-content-width: 350px
$modal-background-background-color: $color-dark-opacity
$modal-card-head-background-color: transparent
$modal-card-body-background-color: transparent
$modal-card-head-border-bottom: 1px solid transparent
$modal-card-foot-border-top: 1px solid transparent

$box-color: $color-text

$footer-background-color: transparent

// TODO: check why bulma is loading twice
@import "~bulma/bulma"
