@import "_bulma"

html, body
  &.has-navbar-fixed-top
    @media (max-width: 1023px)
      padding-top: 0!important
  
body
  font-family: 'Roboto', sans-serif
  color: hsl(0, 0%, 40%)

.canessa
  background: url(~assets/paper.png) center repeat

// NAVBARS & item links
.navbar
  &:not(.is-transparent)
    backdrop-filter: saturate(180%) blur(3px) // in modern browsers only
  &.top-bar
    border-bottom: 1px solid $black-bis
  &.bottom-bar
    border-top: 1px solid $black-bis
    .navbar-brand
      position: relative
      .buttons:not(:last-child)
        margin-bottom: 0
        margin-left: 85px // to place "canessa icon" img
      .image
        position: absolute
        bottom: .5rem
        left: .5rem
        @media (min-width: 1024px)
          display: none

$brands: ("whatsapp": $whatsapp, "instagram": $instagram, "facebook": $facebook, "youtube": $youtube)
.navbar-item,
.aside-rrss
  &.nuxt-link-exact-active
    font-weight: 600
    opacity: .3
    cursor: text
    pointer-events: none
  &.has-logo
    padding-top: .25rem
    padding-bottom: .25rem
    img
      max-height: 2.5rem
  &.copyright
    cursor: initial
    pointer-events: none
    color: $color-main
  @each $brand, $color in $brands
    &.#{$brand}
      color: $color
  @media (hover: hover)
    &:hover, &:focus
      transition: all .15s ease-in-out

@media screen and (min-width: 1024px)
  .navbar-dropdown
    font-size: 1rem

// mobile´s ASIDE navigation Menu
.navbar-burger
  width: 4rem
  &:hover
    background-color: transparent
  &:not(.is-active), &:not(.is-active):hover
    color: transparent
  span
    height: 3px
    border-radius: 3px
    color: $fucsia
    left: calc(50% - 15px)
    &:nth-child(1)
      width: 24px
      top: calc(50% - 9px)
    &:nth-child(2)
      width: 28px
    &:nth-child(3)
      width: 20px
      top: calc(50% + 7px)
  &.is-active, &.is-active:hover
    span
      color: orange
      &:nth-child(1), &:nth-child(3)
        width: 26px
      &:nth-child(1)
        transform: translateY(7px) rotate(45deg)
      &:nth-child(3)
        transform: translateY(-9px) rotate(-45deg)

.aside-navbar-menu
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 260px
  height: 100%
  background-color: $color-dark-opacity
  backdrop-filter: saturate(180%) blur(3px) // in modern browsers only
  overflow-y: auto
  will-change: left
  opacity: 0
  transition: all 0.5s
  visibility: hidden
  transform: translate3d(-100%, 0, 0)
  &.is-open
    opacity: 1
    visibility: visible
    transform: translate3d(0, 0, 0)
  .navbar-item
    font-size: 1.2rem
    letter-spacing: .02rem
  .navbar-item.nuxt-link-exact-active
      display: none
  @media (min-width: 1024px)
    display: none

.aside-logo
  padding: .75rem .75rem .25rem
  display: flex
  justify-content: space-between
  align-items: baseline

// Mosaic ("chessboard") layout in pages as:
// Servicios, Peluquería, Vanessa, Mascotactiva...
@media (min-width: 980px)
  .reflected .columns .column:first-child
    order: 2

.container
  .content figure img
    border-radius: 5px
  @media (min-width: 980px)
    &:not(.reflected) .content figure
      margin-right: 0
    &.reflected .content figure
      margin-left: 0
  @media (max-width: 979px)
    .content figure
      margin-right: 0
  @media (max-width: 768px)
    .content figure
      margin: 0

.th-link
  display: inline-block
  font-family: "Roboto", sans-serif
  color: #039be5
  position: relative
  pointer-events: auto

  white-space: nowrap
  align-self: flex-start
  line-height: 40px
  margin-top: auto
  // to apply when layout changed from columns to rows
  @media screen and (max-width: 799px)
    margin-top: 20px
  
  .mdi
    padding-left: 5px
    opacity: .5
    animation: padding .25s ease

  &:focus, &:hover
    color: darken(#039be5, 8%)
    .mdi
      padding-left: 10px
      opacity: .7

  &.btn
    text-transform: inherit

  &:not(.btn)
    // (hover effect) nav link line animation
    &::before
      content: ''
      position: absolute
      background: currentColor
      width: 75%
      height: 1px
      bottom: 0
      transform-origin: 0% 50%
      transform: scale3d(0,1,1)
      opacity: 0
      transition: all 0.25s
      transition-property: opacity, transform
    &:hover::before
      opacity: 1
      transform: scale3d(1,1,1)

  + .th-link
    margin: 0 0 0 3rem

.icon
  &.th-quote.th-is-open
    position: absolute
    bottom: 10px
    left: -30px
    @media (max-width: 768px)
      bottom: 5px
      left: -20px
    z-index: 0
  &.th-quote,
  &.th-quote + em
    opacity: .3

// Helpers, overwrites, special classes...
.tag:not(body).is-dark
  color: $color-main 

.has-text-primary .th-quote .mdi::before
  color: $color-main

.mascotactiva
  h2.has-text-primary,
  h2.has-text-primary .th-quote .mdi::before
    color: $mascotactiva!important

// common FOOTER last block with project info
$authors: ("jalofernandez": $jalofernandez,"haztunegociodigital": $haztunegociodigital)
@each $name, $color in $authors
  .author.#{$name}
    span
      transform: all .15s ease
      color: $color
    @media (hover: hover)
      &:hover, &:focus
        span
          color: darken($color, 8%)
          text-decoration: underline

// Animations
.canessa-transition-enter-active
  transition: all .3s ease

.canessa-transition-leave-active
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.canessa-transition-enter,
.canessa-transition-leave-to
  transform: translateX(10px)
  opacity: 0
