//output:../../404.html
doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        title Canessa: error
        meta(name='description', content='Página de error del website Peluquería canina Canessa. Pruebe otra URL o vaya a la página de inicio para encontrar la descripción de nuestros servicios y contacto.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria animal, peluqueria perros, peluqueria gatos, piensos, complementos, correas, lazos, collares, antiparasitarios, autolavado')
        meta(name='author', content='@jalofernandez para Vanessa Vizcaya, Canessa')
        meta(name='robots', content='index, follow, archive')
        meta(name='generator', content='html5, css3, nodejs, less, pug')
        meta(name='google', content='nositelinkssearchbox')
        // FAVICON
        link(rel="apple-touch-icon", sizes="180x180", href="img/dist/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="img/dist/favicon/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="img/dist/favicon/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="manifest.json")
        // Browsers Tabs
        link(rel="mask-icon", href="img/dist/favicon/safari-pinned-tab.svg", color="#5bbad5")
        // to customize browsers top navbar
        meta(name="theme-color", content="#ff4081")
        // SiteMap
        link(rel='sitemap', href='sitemap.xml', title='Mapa general del website')
        // CSS
        link(rel='stylesheet', type='text/css', href='font/font-awesome-4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='css/dist/main.css', media='screen,projection')
    body.bg-paper
    //
      GRADIENT TOP
      <div class="gradient-top"></div>
      <div class="gradient-bottom"></div>
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      00. TOP NAV BAR "Sections & Contact"
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .navbar-top
      nav
        .nav-top
          .row
            // "Navigation Page" :: LEFT NAV
                .col.m5
                  ul.right.navSubSections.hide-on-med-and-down
                    li
                      a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                        | Our Expos 
                        i.fa.fa-caret-down
                    ul#dropdown1.dropdown-content
                      li
                        a(href='#expos') Concept
                      li
                        a(href='#past') Past Exhibitions
                      li
                        a(href='#future') Future Exhibitions
                    li
                      a.bottle(href='#expos', title='Go to Expositions section of Arts Club Madrid') Our Expos
                    li
                      a.wineh(href='#past', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                    li
                      a.cockt(href='#future', title='Go to Future Exhibitions section of Arts Club Madrid') Future Exhibitions
                    li
                      a.gastro(href='#commiss', title='Go to Art Commissioner section of Arts Club Madrid') Art Commissioner
            // "Logo" :: CENTER LOGO
            #acm-navLogo.brand-logo.center
              img.fixed.small-one(src='img/dist/logos/canessa-logo.svg', title='Logotipo de la peluquería caninca Canessa', alt='Logotipo de la peluquería caninca Canessa')
            // "Contact" :: RIGHT NAV
            .col.m5.offset-m2
                  ul.left.navContact.hide-on-med-and-down
                    li
                      a.address(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa')  INICIO
                    //
                        li
                          a.phone(href='tel:912770365', title='Call to Arts Club Madrid')
                            i.fa.fa-phone
                            |  912 770 365
                        li
                          a(href='https://module.lafourchette.com/es_ES/module/62151-6082e', target='_blank', title='Online Reservations with ElTenedor in Arts Club Madrid')
                            i.fa.fa-cutlery
                            |   Online Reservations
                        li
                          a.schedule.modal-trigger(href='#modal_contact', title='Online Reservations with ElTenedor in Arts Club Madrid')
                            i.fa.fa-clock-o
                            |   13:00 - 02:00 Su-We / 03:00 Th-Sa    
    .margTopForNav
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      01. TÉRMINOS LEGALES
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    #past.row.scrollspy
      .col.s12.headerSection
        h3.center-align
          b Error 404:
          span.capital  Página no encontrada
        //
            h5.center-align
              | beauty is 
              span around
              |  you
            p.introIcon
              i.fa.fa-gravel
    .container
      .section
        .row
          .col.s12.m6.offset-m3.textLeftSide
            p.light Parece que la página que buscas no existe. Lo sentimos. Podría ser por alguna de estas causas como...
            p.light ...Que haya tecleado incorrectamente la dirección URL.
            p.light ...Que haya perdido su conexión a internet.
            p.light ...Que la página esté obsoleta y haya sido eliminada.
            p.light ...Que la página no exista en el idioma que solicita.
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      00. MAIN NAV BAR
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .navbar-fixed
      nav
        .nav-wrapper
          // <a href="#!" class="brand-logo">Logo</a>
          a#mobile-bars.button-collapse(href='#', data-activates='mobile-demo', title='mobile icon')
            i.fa.fa-bars
          // LEFT SIDE FOOTER LINKS MENU
          ul.left.hide-on-med-and-down
            // li
              a.navbar-link(href='art-gallery.html', title='Servicios ofrecidos por la peluquería canina Canessa') Servicios
            li
              a.navbar-link.copyright(href='#', title='Copyright de la peluquería canina Canessa') &copy; Canessa peluquería canina, 2017
            li
              a.navbar-link.terms(href='index.html', title='Condiciones de uso del website de la peluquería canina Canessa') Inicio
            li
              a.navbar-link.schedule.modal-trigger(href='#modal_schedule', title='Horario comercial de la peluquería canina Canessa') Horario
          //
            li
              a.navbar-link.jalofer(href='http://jalofernandez.com/', title='Website diseñado y desarrollado por jalofernandez.com', target="_blank") jalofernandez.com
          // RIGHT SIDE FOOTER LINKS MENU       
          ul.right
            li
                a.navbar-link(href='https://www.facebook.com/Peluqueria-Canina-Canessa-113194982084561/', title='Facebook de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                    i.fa.fa-facebook
            li
                a.navbar-link(href='https://www.instagram.com/peluqueriacanessa/', title='Instagram de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                    i.fa.fa-instagram
          // MOBILE
          ul#mobile-demo.side-nav
            li
              img(src='img/dist/logos/canessa-logo.svg', alt='Logotipo de la peluquería canina Canessa')
            li.socialMobile
                a.navbar-link(href='https://www.facebook.com/Peluqueria-Canina-Canessa-113194982084561/', title='Facebook de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                    i.fa.fa-facebook
                a.navbar-link(href='https://www.instagram.com/peluqueriacanessa/', title='Instagram de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                    i.fa.fa-instagram
            li
                a.navbar-link(href='tel:912480430', title='Llamar a la peluquería canina Canessa') 91 248 04 30
            li
                a.navbar-link.modal-trigger(href='#modal_schedule', title='Horario de la peluquería canina Canessa') Horario
            li
                a.navbar-link(href='index.html', title='Términos y condiciones de uso del website de la peluquería canina Canessa') Inicio
            li
                a.navbar-link(href='gallery.html', title='Servicios ofrecidos por la peluquería canina Canessa') Servicios
            li
                a.navbar-link(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') Mascotactiva
            li
                a.navbar-link(href='legal.html', title='Términos y condiciones de uso del website de la peluquería canina Canessa') Legal
            li.copyMobile
                a.navbar-link(href='#', title='Copyright de la peluquería canina Canessa') &copy; Canessa, 2017
    // CONTACT SubNAV
    #nav-contact
      ul
        li
          a(href='tel:912480430', title='Llamar a peluquería canina Canessa')
            i.fa.fa-phone
            |   91 248 04 30
        li
          a(href='https://goo.gl/maps/Aegzf2qZF4x', target='_blank', rel="noopener noreferrer", title='Dirección de peluquería canina Canessa en Google Maps')
            i.fa.fa-map-marker
            |   Vicente Aleixandre, 5. 
            span 28341
            | , Valdemoro, Madrid
    #nav-info
      a.modal-trigger(href='#modal_contact', title='Contacto de la peluquería canina Canessa')
        |   CONTACTO
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      ALL MODALS DIALOGS ...
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // MODALS MAIN NAV DESKTOP sections :: "COMING SOON!"
    #modal_section.modal.bottom-sheet
      .modal-content
        h4 COMING SOON!
        p Here will go an amazing section... See you Soon!
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-grey.btn-flat(href='#!')
          | Cerrar 
          i.fa.fa-close
    // MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
    #modal_schedule.modal
      .modal-content
        h4 HORARIO
        .col.s12
            ul#site-social
              li
                b Lunes, Miercoles, Jueves y Viernes:
              li
                a(href='', title='Horario de mañana de la peluquería canina Canessa')
                  em
                    i.fa.fa-clock-o
                    |  Mañanas:&nbsp;
                  span de 10:00 a 13:30
              li
                a(href='', title='Horario de tarde de la peluquería canina Canessa')
                  em
                    i.fa.fa-clock-o
                    |  Tardes:&nbsp;
                  span de 16:30 a 20:00
              li
                b Sábados:
              li
                a(href='', title='Horario de mañana de la peluquería canina Canessa')
                  em.clockDos
                    i.fa.fa-clock-o
                    |  Mañanas:&nbsp;
                  span de 10:30 a 13:30
              li
                a(href='', title='Establecimiento cerrado los sábados por la tarde')
                  em
                    i.fa.fa-clock-o
                    |  Tardes:&nbsp;
                  span cerrado
              li
                b Martes y Domingos:
              li
                a(href='', title='Establecimiento cerrado los martes')
                  em.clockDos
                    i.fa.fa-clock-o
                    |  Mañanas y tardes:&nbsp;
                  span cerrado
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-grey.btn-flat(href='#!')
          | Cerrar 
          i.fa.fa-close
    // MODALS MAIN NAV MOBILE sections :: "CONTACT"
    #modal_contact.modal
      .modal-content
        h4 CONTACTO:
        .row.noMargBottom
          .col.s12.m6.l6
            ul#site-social
              li
                a(href='tel:912480430', title='Llamar a peluquería canina Canessa')
                  i.fa.fa-phone
                  |   91 248 04 30
              li
                a(href='mailto:van.vizcaya@gmail.com', title='Escribir email a peluquería canina Canessa')
                  i.fa.fa-envelope
                  |   van.vizcaya@gmail.com
              li
                a(href='https://goo.gl/maps/Aegzf2qZF4x', target='_blank', rel="noopener noreferrer", title='Dirección de a peluquería canina Canessa en Google maps')
                  i.fa.fa-map-marker
                  |   Vicente Aleixandre, 5. 
                  span 28341
                  | , Valdemoro, Madrid
          .col.s12.m6.l6.row-dos
            ul#site-social.right
              li
                b Lunes, Miercoles, Jueves y Viernes:
              li
                a(href='', title='Horario de mañana de la peluquería canina Canessa')
                  em
                    i.fa.fa-clock-o
                    |  Mañanas:&nbsp;
                  span de 10:00 a 13:30
              li
                a(href='', title='Horario de tarde de la peluquería canina Canessa')
                  em
                    i.fa.fa-clock-o
                    |  Tardes:&nbsp;
                  span de 16:30 a 20:00
              li
                b Sábados:
              li
                a(href='', title='Horario de mañana de la peluquería canina Canessa')
                  em.clockDos
                    i.fa.fa-clock-o
                    |  Mañanas:&nbsp;
                  span de 10:30 a 13:30
              li
                a(href='', title='Establecimiento cerrado los sábados por la tarde')
                  em
                    i.fa.fa-clock-o
                    |  Tardes:&nbsp;
                  span cerrado
              li
                b Martes y Domingos:
              li
                a(href='', title='Establecimiento cerrado los martes')
                  em.clockDos
                    i.fa.fa-clock-o
                    |  Mañanas y tardes:&nbsp;
                  span cerrado
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-grey.btn-flat(href='#!')
          | Cerrar 
          i.fa.fa-close
        //
          //////////////////////////////////////////////////////////////////////////////////////////////////////////
          ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
      script(src='js/dist/jquery.min.js')
      script(src='js/dist/materialize.min.js')
      script(src='js/dist/scripts-min.js')
