doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        title Canessa: error
        meta(name='description', content='Página de error del website Peluquería canina Canessa. Pruebe otra URL o vaya a la página de inicio para encontrar la descripción de nuestros servicios y contacto.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria animal, peluqueria perros, peluqueria gatos, piensos, complementos, correas, lazos, collares, antiparasitarios, autolavado')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body.bg-paper
        //- (todo: remove this useless code) GRADIENT TOP
        include includes/gradient

        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
          nav
            .nav-top
              .row
                //- "Navigation Page" :: LEFT NAV
                    .col.m5
                      ul.right.navSubSections.hide-on-med-and-down
                        li
                          a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                            | Our Expos
                            i.fa.fa-caret-down
                        ul#dropdown1.dropdown-content
                          li
                            a(href='#expos') Concept
                          li
                            a(href='#past') Past Exhibitions
                          li
                            a(href='#future') Future Exhibitions
                        li
                          a.bottle(href='#expos', title='Go to Expositions section of Arts Club Madrid') Our Expos
                        li
                          a.wineh(href='#past', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                        li
                          a.cockt(href='#future', title='Go to Future Exhibitions section of Arts Club Madrid') Future Exhibitions
                        li
                          a.gastro(href='#commiss', title='Go to Art Commissioner section of Arts Club Madrid') Art Commissioner
                //- "Logo" :: CENTER LOGO
                #acm-navLogo.brand-logo.center
                  img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería caninca Canessa', alt='Logotipo de la peluquería caninca Canessa')
                //- "Contact" :: RIGHT NAV
                .col.m5.offset-m2
                      ul.left.navContact.hide-on-med-and-down
                        li
                          a.address(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                        //-
                            li
                              a.phone(href='tel:912770365', title='Call to Arts Club Madrid')
                                i.fa.fa-phone
                                |  912 770 365
                            li
                              a(href='https://module.lafourchette.com/es_ES/module/62151-6082e', target='_blank', title='Online Reservations with ElTenedor in Arts Club Madrid')
                                i.fa.fa-cutlery
                                |   Online Reservations
                            li
                              a.schedule.modal-trigger(href='#modal_contact', title='Online Reservations with ElTenedor in Arts Club Madrid')
                                i.fa.fa-clock-o
                                |   13:00 - 02:00 Su-We / 03:00 Th-Sa
        .margTopForNav
        //- ----------------------------------------------------------------
        //- 01. 404 PAGE NOT FOUND :: 404 página no encontrada
        //- ----------------------------------------------------------------
        #past.row.scrollspy
          .col.s12.headerSection
            h3.center-align
              span !{not_found.title}

        .container
          .section
            .row
              .col.s12.m6.offset-m3.textLeftSide
                //- for each loop to load all copies in "locales" json file/s
                each suggest, i in not_found.suggestions
                    p.light #{suggest}

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODAL dialog in DESKTOP devices :: "COMING SOON!"
        include includes/modal_coming-soon
        //- MODAL dialog in MOBILE devices :: "SCHEDULE"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- All the SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
