doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Canessa peluquería canina
    meta(name='description', content='Canessa servicios de peluquería canina y felina. SPA canino.')
    meta(name='keywords', content='peluquería canina, peluquería animal, peluquería perros, peluquería gatos')
    meta(name='author', content='jalofernandez para Vanessa Vizcaya, Canessa')
    // FAVICON
    link(rel="apple-touch-icon", sizes="180x180", href="img/dist/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="img/dist/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="img/dist/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="img/dist/favicon/manifest.json")
    // Browsers Tabs
    link(rel="mask-icon", href="img/dist/favicon/safari-pinned-tab.svg", color="#5bbad5")
    // windows (metro)
    meta(name="theme-color", content="#ffffff")
    // SiteMap
    link(rel='sitemap', href='sitemap.xml', title='Mapa general del website')
    // CSS
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type='text/css', href='font/font-awesome-4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/dist/materialize.css', media='screen,projection')
    link(rel='stylesheet', type='text/css', href='css/dist/style.css', media='screen,projection')
  body
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      01. SIDER Full Page
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    img.main-logotype(src='img/dist/logos/canessa-logo.svg', title='Logotipo de la Canessa peluquería canina', alt='Logotipo de la Canessa peluquería canina')
    .slider.fullscreen
      ul.slides
        li
          img(src='img/dist/slider/afgano.jpg', title='Afgano: Canessa peluquería canina', alt='Afgano: Canessa peluquería canina')
          .caption.left-align
            h1 Peluquería canina
            h5.intro Tu centro de belleza animal en Valdemoro
        li
          img(src='img/dist/slider/peluqueria.jpg', title='Zona de corte y baño de la Canessa peluquería canina', alt='Zona de corte y baño de la Canessa peluquería canina')
          .caption.left-align
            h3 Peluquería felina
            h5.intro Tu centro de belleza animal en Valdemoro
        li
          img(src='img/dist/slider/entrada.jpg', title='Entrada y recibidor de la Canessa peluquería canina', alt='Entrada y recibidor de la Canessa peluquería canina')
          .caption.left-align.mycaption
            h3 Piensos y Complementos
            h5.intro Tu centro de belleza animal en Valdemoro
        li
          img(src='img/dist/slider/doggies-in-da-sun.jpg', title='Ejemplos de cortes de pelo de raza de la Canessa peluquería canina', alt='Ejemplos de cortes de pelo de raza de la Canessa peluquería canina')
          .caption.left-align
            h3
              | Peluquería canina 
              span
              |  Piensos 
              span
              |  Complementos 
              span
              |  SPA
            h5.intro Valdemoro
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      00. MAIN NAV BAR
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .navbar-fixed
      nav
        .nav-wrapper
          // <a href="#!" class="brand-logo">Logo</a>
          a#mobile-bars.button-collapse(href='#', data-activates='mobile-demo', title='mobile icon')
            i.material-icons menu
          ul.left.hide-on-med-and-down
            // li
              a.navbar-link(href='art-gallery.html', title='Servicios ofrecidos por la peluquería caninca Canessa') Servicios
          ul.right
            li
                a.navbar-link(href='https://www.facebook.com/vanessa.vizcaya', title='Facebook de la peluquería caninca Canessa', target="_blank")
                    i.fa.fa-facebook
            li
                a.navbar-link(href='https://www.instagram.com/vanessavizcaya', title='Facebook de la peluquería caninca Canessa', target="_blank")
                    i.fa.fa-instagram
          // MOBILE
          ul#mobile-demo.side-nav
            li
              img(src='img/dist/logos/canessa-logo.svg', alt='Logotipo de la peluquería caninca Canessa')
            //
                li
                  a.navbar-link(href='art-gallery.html', title='Servicios ofrecidos por la peluquería caninca Canessa') Servicios
                li
                  a.navbar-link(href='contact.html', title='Contacto de la peluquería caninca Canessa') Contacto
            
            li.socialMobile
                a.navbar-link(href='https://www.facebook.com/vanessa.vizcaya', title='Facebook de la peluquería caninca Canessa', target="_blank")
                    i.fa.fa-facebook
                a.navbar-link(href='https://www.instagram.com/vanessavizcaya', title='Facebook de la peluquería caninca Canessa', target="_blank")
                    i.fa.fa-instagram
    // CONTACT SubNAV
    #nav-contact
      ul
        li
          a(href='tel:912480430', title='Llamar a peluquería canina Canessa')
            i.fa.fa-phone
            |   91 248 04 30
        li
          a(href='https://goo.gl/maps/Aegzf2qZF4x', target='_blank', title='Dirección de peluquería canina Canessa en Google Maps')
            i.fa.fa-map-marker
            |   Vicente Aleixandre, 5. 
            span 28341
            | , Valdemoro, Madrid
    #nav-info
      a.modal-trigger(href='#modal_contact', title='Contacto de la peluquería canina Canessa')
        i.fa.fa-send
    //
      SOCIAL MEDIA
      <div id="nav-social" class="fixed-action-btn">
      <a class="btn-floating btn-large" title="Social Media Options of Arts Club Madrid">
      <i class="icon-share"></i>
      </a>
      <ul>
      <li><a href="https://www.facebook.com/ArtsClubMadrid" target="_blank" class="btn-floating modal-trigger" title="Facebook account of Arts Club Madrid"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/ArtsClubMAD" target="_blank" class="btn-floating modal-trigger" title="Twitter account of Arts Club Madrid"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://youtu.be/HwmU5GRbwDU" target="_blank" class="btn-floating modal-trigger" title="Youtube account of Arts Club Madrid"><i class="fa fa-youtube-play"></i></a></li>
      <li><a href="https://instagram.com/artsclubMAD" target="_blank" class="btn-floating modal-trigger"><i class="fa fa-instagram" title="Instagram account of Arts Club Madrid"></i></a></li>
      <li><a href="#modal_social" target="_blank" class="btn-floating modal-trigger" title="LinkedIn de Arts Club Madrid"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      </div>
    //
      LANGUAGES
      <div id="nav-lang" class="fixed-action-btn">
      <a class="btn-floating btn-large" href="home_es.html" title="Change to spanish languaje">
      <i class="icon-globe"></i>
      </a>
      <ul class="ul-lang">
      <li class="eng"><a href="#modal_buttons" class="btn-floating modal-trigger"><i class="fa fa-flag"></i></a></li>
      <li class="esp"><a href="#modal_buttons" class="btn-floating modal-trigger"><i class="fa fa-flag-o"></i></a></li>
      </ul>
      </div>
    //
      Contact TOOLTIP
      <div id="info" class="">
      <p><strong>Contact</strong> info</p>
      </div>
    //
      Language TOOLTIP
      <div id="languages" class="">
      <p>Cambiar a <strong>Español</strong></p>
      </div>
    //
      MAIN LOGO
      <div id="acm-logo">
      <img src="img/dist/logos/canessa-logo-big.png" title="Arts Club Madrid Logotype"/>
      </div>
    //
      OLD CONTACT TOP BOX
      <div class="row acm-data">
      <ul id="site-social">
      <li><a href="tel:912770365" title="Call to Arts Club Madrid"><i class="fa fa-phone"></i>&nbsp; 912 770 365</a></li>
      <li><a href="mailto:events@artsclubmadrid.com" title="Escribir email al Arts Club Madrid, Restaurante y Galería de Arte"><i class="fa fa-envelope"></i>&nbsp; events@artsclubmadrid.com</a></li>
      <li><a href="https://module.lafourchette.com/es_ES/module/62151-6082e" target="_blank" title="Online Reservations with ElTenedor in Arts Club Madrid"><i class="fa fa-cutlery"></i>&nbsp; Online Reservations</a></li>
      <li><a href="https://goo.gl/maps/mdZpp" target="_blank" title="Arts Club Madrid address with Google Maps"><i class="fa fa-map-marker"></i>&nbsp; Vel&aacute;zquez, 96. <span>28006</span>, Madrid</a></li>
      </ul>
      </div>
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      ALL MODALS DIALOGS ...
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // MODALS MAIN NAV DESKTOP sections :: "COMING SOON!"
    #modal_section.modal.bottom-sheet
      .modal-content
        h4 COMING SOON!
        p Here will go an amazing section... See you Soon!
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-grey.btn-flat(href='#!')
          | Close 
          i.fa.fa-close
    // MODALS MAIN NAV MOBILE sections :: "COMING SOON!"
    #modal_buttons.modal
      .modal-content
        h4 COMING SOON!
        p Here will go an amazing section... See you Soon!
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-grey.btn-flat(href='#!')
          | Close 
          i.fa.fa-close
    // MODALS MAIN NAV MOBILE sections :: "CONTACT"
    #modal_contact.modal
      .modal-content
        h4 CONTACTO:
        .row.noMargBottom
          .col.s12.m7.l6
            ul#site-social
              li
                a(href='tel:912480430', title='Llamar a peluquería canina Canessa')
                  i.fa.fa-phone
                  |   91 248 04 30
              li
                a(href='mailto:van.vizcaya@gmail.com', title='Escribir email a peluquería canina Canessa')
                  i.fa.fa-envelope
                  |   van.vizcaya@gmail.com
              li
                a(href='https://goo.gl/maps/Aegzf2qZF4x', target='_blank', title='Dirección de a peluquería canina Canessa en Google maps')
                  i.fa.fa-map-marker
                  |   Vicente Aleixandre, 5. 
                  span 28341
                  | , Valdemoro, Madrid
          .col.s12.m5.l6.row-dos
            ul#site-social.right
              li
                a(href='', title='Horario establecimiento')
                  span
                    i.fa.fa-clock-o
                    |  Mañanas:&nbsp;
                  span de 10:00 a 14:00
              li
                a(href='', title='Horario establecimiento')
                  span
                    i.fa.fa-clock-o
                    |  Tardes:&nbsp;
                  span de 16:00 a 20:00
              li
                a(href='', title='Horario establecimiento')
                  span.clockDos
                    i.fa.fa-clock-o
                    |  Martes:&nbsp;
                  span cerrado
              li
                a(href='', title='Horario establecimiento')
                  span.clockDos
                    i.fa.fa-clock-o
                    |  Sábado tarde:&nbsp;
                  span cerrado
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-grey.btn-flat(href='#!')
          | Close 
          i.fa.fa-close
    //
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    script(src='js/dist/jquery.min.js')
    script(src='js/dist/materialize.min.js')
    script(src='js/dist/acm.js')