//- Structured Data (Open Graph) on ANTIPARASITARIOS page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com/antiparasitarios')
meta(property='og:site_name', content='Peluquería canina Canessa')
meta(property='og:title', content='Antiparasitarios en la peluquería canina Canessa Valdemoro')
meta(property='og:description', content='Collares, pipetas y antiparasitarios en la peluquería canina Canessa de Valdemoro para luchar contra los parásitos que transmiten enfermedades a nuestras mascotas. 91 248 04 30')
meta(property='og:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-antiparasitarios.jpg')
meta(property='og:image:secure_url', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-antiparasitarios.jpg')
meta(property='og:image:width', content='960')
meta(property='og:image:height', content='540')
meta(property='og:image:alt', content='Collares, pipetas y antiparasitarios en la peluquería canina Canessa Valdemoro, Madrid')
//- todo: add Facebook id to track this page with Facebook Audience Insights
    meta(property='fb:app_id', content='')
