//- Structured Data (Open Graph) on AUTOLAVADO page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com/autolavado')
meta(property='og:site_name', content='Peluquería canina Canessa')
meta(property='og:title', content='Autolavado en la peluquería canina Canessa Valdemoro, Madrid')
meta(property='og:description', content='Ofrecemos un completo servicio de autolavado canino. Nosotros ponemos las instalaciones con bañera hidráulica, champú, expulsadores de aire y secadores así como toallas y asesoramiento profesional.')
meta(property='og:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-autolavado.jpg')
meta(property='og:image:secure_url', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-autolavado.jpg')
meta(property='og:image:width', content='960')
meta(property='og:image:height', content='540')
meta(property='og:image:alt', content='Servicio de Autolavado en la peluquería canina Canessa de Valdemoro')
//- todo: add Facebook id to track this page with Facebook Insights
    meta(property='fb:app_id', content='')
