//- Structured Data (Open Graph) on AUTOLAVADO page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com/autolavado')
meta(property='og:title', content='Autolavado en la peluquería canina Canessa Valdemoro, Madrid')
meta(property='og:description', content='Ofrecemos un completo servicio de autolavado canino. Nosotros ponemos las instalaciones con bañera hidráulica, champú, expulsadores de aire y secadores así como toallas y asesoramiento profesional.')
meta(property='og:image', content='https://peluqueriacanessa.com/img/schema/canessa_promo-pic_autolavado-golden.jpg')
//- todo: add Facebook id to track this page with Facebook Insights
    meta(property='fb:app_id', content='')