//- Structured Data (Open Graph) on CONTACT page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com/contacto')
meta(property='og:site_name', content='Peluquería canina Canessa')
meta(property='og:title', content='Contacta con la peluquería canina Canessa Valdemoro, Madrid')
meta(property='og:description', content='Contacta con la Peluquería canina Canessa en la calle Vicente Aleixandre, 5 - 28341 - Valdemoro, Madrid. Tlf: 91 248 04 30')
meta(property='og:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-contacto.jpg')
meta(property='og:image:secure_url', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-contacto.jpg')
meta(property='og:image:width', content='960')
meta(property='og:image:height', content='540')
meta(property='og:image:alt', content='Mapa de ubicación de la peluquería canina Canessa Valdemoro, Madrid')
meta(property='place:location:latitude', content='40.194004')
meta(property='place:location:longitude', content='-3.686798')
meta(property='business:contact_data:street_address', content='Vicente Aleixandre, 5')
meta(property='business:contact_data:locality', content='Valdemoro')
meta(property='business:contact_data:region', content='Madrid')
meta(property='business:contact_data:postal_code', content='28341')
meta(property='business:contact_data:country_name', content='España')
//- todo: add Facebook id to track this page with Facebook Audience Insights
    meta(property='fb:app_id', content='')
