//- Structured Data (Open Graph) on INDEX page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com')
meta(property='og:title', content='Peluquería canina Canessa Valdemoro, Madrid')
meta(property='og:description', content='La peluquería canina Canessa ofrece cortes de pelo comerciales y de exposición así como arreglos y baños en Valdemoro. Siempre con el mínimo estrés y máximo cuidado para vuestras mascotas y en el mejor entorno. Servicio de autolavado al mejor precio y SPA canino.')
meta(property='og:image', content='https://peluqueriacanessa.com/img/schema/canessa_promo-pic_flyer_2018-Q1.jpg')
//- todo: add Facebook id to track this page with Facebook Insights
    meta(property='fb:app_id', content='')