//- Structured Data (Open Graph) on INSTALACIONES page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com/instalaciones')
meta(property='og:site_name', content='Peluquería canina Canessa')
meta(property='og:title', content='Instalaciones de la peluquería canina Canessa Valdemoro')
meta(property='og:description', content='Las instalaciones de la Peluquería canina Canessa en Valdemoro están perfectamente acondicionadas para relaizar cualquier trabajo de peluquería canina maxificando la comodidad de su mascota y minificando el estrés que esta pueda sufrir durante el proceso de trabajo. 91 248 04 30')
meta(property='og:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-instalaciones.jpg')
meta(property='og:image:secure_url', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-instalaciones.jpg')
meta(property='og:image:width', content='960')
meta(property='og:image:height', content='540')
meta(property='og:image:alt', content='Instalaciones de la peluquería canina Canessa Valdemoro, Madrid')
//- todo: add Facebook id to track this page with Facebook Audience Insights
    meta(property='fb:app_id', content='')
