//- Structured Data (Open Graph) on MASCOTACTIVA page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com/mascotactiva')
meta(property='og:title', content='Mascotactiva, paseamos y entrenamos a su mascota')
meta(property='og:description', content='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa. Ofrecemos servicios de guardería canina, paseos relajantes, entrenamiento físico, adiestramiento y gestión emocional.')
meta(property='og:image', content='https://peluqueriacanessa.com/img/schema/mascotactiva_promo-pic_flyers_2018-Q1.jpg')
//- todo: add Facebook id to track this page with Facebook Audience Insights
    meta(property='fb:app_id', content='')