//- Structured Data (Open Graph) on SERVICES page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://peluqueriacanessa.com/servicios')
meta(property='og:site_name', content='Peluquería canina Canessa')
meta(property='og:title', content='Servicios peluquería canina Canessa Valdemoro')
meta(property='og:description', content='Ofrecemos servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición así como arreglos y lavados. También ofrecemos Autolavados y SPA canino así como nuestro exclusivo servicio de Mascotactiva. 91 248 04 30')
meta(property='og:image', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-servicios.jpg')
meta(property='og:image:secure_url', content='https://peluqueriacanessa.com/img/microdata/peluqueria-canina-canessa-valdemoro-servicios.jpg')
meta(property='og:image:width', content='960')
meta(property='og:image:height', content='540')
meta(property='og:image:alt', content='Servicios ofrecidos por la peluquería canina Canessa Valdemoro, Madrid')
//- todo: add Facebook id to track this page with Facebook Audience Insights
    meta(property='fb:app_id', content='')
